<template>
  <div class="MyOrder">
    <div>
      <Tab
        size="small"
        :activeIndex="activeIndex"
        @select="select"
        :labels="labels" />
    </div>
    <div
      class="mt30"
      v-if="status < 3">
      <Order
        :info="order"
        :key="order.orderCode"
        v-for="order in orders" />
      <Loadmore v-if="orders.length === 0"></Loadmore>
    </div>
    <div
      v-if="status === 3">
      <EvaluationItem
        ref="EvaluationItem"
        v-for="item in records"
        :info="item"
        :showFooter="true"
        :key="item.createTime" />
      <Loadmore v-if="records.length === 0"></Loadmore>
    </div>
    <div
      v-if="status === 4"
      @click="to(item)"
      class="item">
      <GoodsDetailItem
        v-for="item in records"
        :key="item.id"
        :price="item.commodityPrice"
        :name="item.commodityName"
        :description="item.description"
        :cover="item.commodityPicUrl"
        :amount="item.commodityCount"/>
      <Loadmore v-if="records.length === 0"></Loadmore>
      <Divider v-else />
      <div class="status">
        {{ serverStatus[item.status] }}
      </div>
    </div>
  </div>

</template>

<script>
import Tab from '@/components/Tab'
import Order from './Order'
import react from '../../utils/react'
import orderStatus from '../../utils/orderStatus'
import Loadmore from '@/components/Loadmore'
import EvaluationItem from '@/components/EvaluationItem'
import GoodsDetailItem from '@/components/GoodsDetailItem'
import serverStatus from '../../utils/serverStatus'
import Divider from '@/components/Divider'
import navigate from '../../utils/navigate'

export default {
  name: 'MyOrder',
  components: {
    Tab,
    Order,
    Loadmore,
    EvaluationItem,
    GoodsDetailItem,
    Divider
  },
  data () {
    return {
      flag: false,
      activeIndex: 0,
      status: -1,
      orders: [],
      records: [],
      labels: ['全部', ...orderStatus],
      pages: 0,
      size: 4,
      current: 0,
      serverStatus
    }
  },
  onLoad () {
    let { status } = this.$query

    if (status === undefined) {
      this.getData()
    } else {
      status = parseInt(status)

      this.status = status
      this.activeIndex = status + 1
      this.loadMore(status)
    }
  },
  onShow () {
    if (this.flag) {
      this.getData(this.status)
    }
  },
  onReachBottom () {
    if (this.current < this.pages) {
      this.getData(this.status)
    }
  },
  watch: {
    status (newVal, oldVal) {
      this.current = 0
      this.current++
      this.records = []

      if (newVal !== 3 && newVal !== 4) {
        return
      }

      function query () {
        if (newVal === 3) {
          return this.$api.evaluation
            .getCustomerList({
              current: this.current,
              size: this.size
            })
        }
        if (newVal === 4) {
          return this.$api.afterService
            .all({
              current: this.current,
              size: this.size
            })
        }
      }

      react.showLoading()
      query()
        .then(res => {
          this.pages = res.pages
          this.current = res.current
          this.records = [
            ...this.records,
            ...res.records
          ]
        })
        .finally(() => {
          react.hideLoading()
        })
    }
  },
  methods: {
    to (item) {
      navigate.to('/pages/afterSaleDetail/main', item)
    },
    select ({ label, index }) {
      const statusList = orderStatus
      const status = statusList.indexOf(label)

      this.status = status
      this.current = 0
      this.orders = []
      this.getData(status)
    },
    getData (status = -1) {
      this.loadMore(this.status)
    },
    async loadMore (status = -1) {
      this.current++

      react.showLoading()

      try {
        await this.loadData(status).then(this.fillData)
      } finally {
        react.hideLoading()
      }
    },
    loadData (status = -1) {
      const config = {
        size: this.size,
        current: this.current
      }

      if (status !== -1 && status !== '-1') {
        config.status = status
      }

      return this.$api.order.my(config)
    },
    fillData (res) {
      this.pages = res.pages
      this.orders = [
        ...this.orders,
        ...res.records
      ]

      this.flag = true
      return res
    }
  }
}
</script>

<style lang="less" scoped>
.MyOrder {}
.AfterSaleList {
  padding: 30px;

  .item {
    position: relative;
  }

  .status {
    font-size: 24px;
    color: gray;
    position: absolute;
    right: 0;
    top: 110px;
  }
}
</style>

<style>
page {
  background: #F2F2F7;
}
</style>
