<template>
  <div class="Card Order">
    <div
      @click="goToOrderDetail"
      class="header">
      <div>{{ info.storeName }}</div>
      <div class="status">{{ orderStatus[status] }}</div>
    </div>
    <div
      @click="goToOrderDetail"
      class="otherInfo">
      <div
        :key="goods.skuId"
        v-for="goods in info.childList"
        class="goods">
        <Loadmore v-if="info.childList.length === 0"></Loadmore>
        <div @click.stop="to(goods)">
          <GoodsDetailItem
            :price="goods.commodityPrice"
            :name="goods.commodityName"
            :description="goods.description"
            :cover="goods.commodityPicUrl"
            :amount="goods.commodityCount"/>
        </div>
        <div v-if="status === 4" class="afterService">
          <div
            v-if="goods.status !== 1"
            class="goodsServiceStatus">
            {{ serverStatus[goods.status] }}
          </div>

          <div
            v-if="goods.evaluationStatus === 0"
            class="btn">
            <Btn
              @click="evaluate(goods)"
              small
              type="plain">评价
            </Btn>
          </div>

          <div
            v-if="goods.status === 1"
            class="btn">
            <Btn
              @click="afterSaleTypeSelect(goods)"
              small
              type="plain">申请售后
            </Btn>
          </div>
        </div>
      </div>
    </div>
    <Divider />
    <div class="footer">
      <div class="info">
        共{{ info.commodityCount }}件 总金额:
        <span class="colorRed fwb">￥{{ info.orderPrice }}</span>
      </div>

      <div
        v-if="afterServiceStatus !== 0"
        class="btns" >
        <div class="serverStatus">
          {{ serverStatus[afterServiceStatus] }}
        </div>
      </div>

      <div class="btns" v-else>
        <div
          v-if="status === 0"
          @click="pay"
          class="btn">
          <Btn type="red">立即付款</Btn>
        </div>

        <div
          v-if="status === 0 || status === 1"
          @click="cancel"
          class="btn">
          <Btn type="plain">取消订单</Btn>
        </div>

        <div
          @click="express"
          v-if="status === 2"
          class="btn">
          <Btn type="plain">
            查看物流
          </Btn>
        </div>

        <div
          v-if="status === 2"
          @click="confirmReceipt"
          class="btn">
          <Btn>确认收货</Btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GoodsDetailItem from '@/components/GoodsDetailItem'
import Btn from '@/components/Button'
import Divider from '@/components/Divider'
import order from '../../utils/order'
import orderStatus from '../../utils/orderStatus'
import serverStatus from '../../utils/serverStatus'
import navigate from '../../utils/navigate'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'Order',
  components: {
    Btn,
    GoodsDetailItem,
    Divider,
    Loadmore
  },
  props: {
    info: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    status () {
      return this.info.status
    },
    afterServiceStatus () {
      return this.info.afterServiceStatus
    }
  },
  data () {
    return {
      orderStatus,
      serverStatus
    }
  },
  methods: {
    goToOrderDetail () {
      navigate.to('/pages/orderDetail/main', {
        orderCode: this.info.orderCode
      })
    },
    pay () {
      order.payAgain(this.info.orderCode)
    },
    cancel () {
      order.cancel(this.info.orderCode)
    },
    confirmReceipt () {
      order.confirmReceipt(this.info.orderCode)
    },
    express () {
      navigate.to('/pages/express/main', this.info)
    },
    afterSaleTypeSelect (goods) {
      navigate.to('/pages/afterSaleTypeSelect/main', goods)
    },
    evaluate (goods) {
      navigate.to('/pages/evaluate/main', goods)
    },
    to (goods) {
      console.log(goods)
      navigate.to('/pages/goodsDetail/main', {
        id: goods.commodityCode,
        storeCode: goods.storeCode
      })
    }
  }
}
</script>

<style lang="less" scoped>
.Order {
  .afterService {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .serverStatus {
    font-size: 24px;
    color: gray;
  }

  .goods {
    position: relative;

    .image {
      width: 100px;
      height: 100px;
    }
  }

  .goods + .goods {
    margin-top: 10px;
  }

  .otherInfo {
    padding: 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;

    .info {
      text-align: right;
      font-size: 24px;
      color: rgb(64, 64, 64);
    }
  }

  .btns {
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
  }

  .goodsServiceStatus {
    font-size: 26px;
    color: gray;
    display: inline-block;
  }
}
</style>
