<template>
  <div class="MyAddressList">
    <Loadmore v-if="addrList.length === 0"></Loadmore>
    <div
      @click="select(item)"
      :class="{
        item: true,
        noBorder: item === addrList.length - 1
      }"
      :key="item"
      v-for="item in addrList">
      <div class="firstCell">
        <div class="name">{{ item.consignee }}</div>
        <div class="tel">{{ item.phone }}</div>
        <div
          @click.stop="edit(item)"
          class="edit">
        </div>
      </div>
      <div class="address">{{ item.addressDetail }}</div>
    </div>
    <MainLink href='/pages/addressEdit/main?mode=create'>
      新增收货地址
    </MainLink>
  </div>
</template>

<script>
import navigate from '../../utils/navigate'
import MainLink from '@/components/MainLink'
import react from '../../utils/react'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'MyAddressList',
  components: {
    MainLink,
    Loadmore
  },
  data () {
    return {
      addrList: []
    }
  },
  onLoad () {
    this.getData()
  },
  methods: {
    reload () {
      wx.showNavigationBarLoading()

      return this
        .getData()
        .then(() => {
          wx.hideNavigationBarLoading()

          react.showToast({
            title: '刷新成功',
            icon: 'none'
          })
        })
    },
    getData () {
      return this.$api.delivery
        .get()
        .then(res => {
          this.addrList = res
        })
    },
    edit (item) {
      navigate.to('/pages/addressEdit/main?mode=edit&id=' + item.id)
    },
    select (item) {
      this.$emit('select', item)
    }
  }
}
</script>

<style lang="less" scoped>
.MyAddressList {
  padding-bottom: 120px;
  font-size: 30px;
  color: rgb(64, 64, 64);

  .firstCell {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .edit {
    background: url('./images/icon-edit.png') no-repeat;
    background-size: 100%;
    width: image-width('./images/icon-edit.png');
    height: image-height('./images/icon-edit.png');
  }

  .name {
    width: 150px;
  }

  .tel {
    width: 500px;
  }

  .item {
    border-bottom: 1px solid #eee; /* no */
    margin: 0 30px;
    padding: 30px 0;

    &.noBorder {
      border-bottom: 0 solid #eee;
    }
  }

  .address {
    margin-top: 10px;
  }
}
</style>
