<template>
  <div class="AddressSelect">
    <MyAddressList
      @select="select"
      ref="MyAddressList" />
  </div>
</template>

<script>
import MyAddressList from '@/components/MyAddressList'
import navigate from '../../utils/navigate'

export default {
  name: 'AddressSelect',
  components: {
    MyAddressList
  },
  onShow () {
    if (this.$refs.MyAddressList) {
      this.$refs.MyAddressList.getData()
    }
  },
  onPullDownRefresh () {
    this.$refs.MyAddressList
      .reload()
      .then(() => {
        wx.stopPullDownRefresh()
      })
  },
  methods: {
    select (address) {
      this.$store.commit('orderConfirm/update', {
        address
      })

      navigate.back()
    }
  }
}
</script>
