<template>
  <div class="AfterSaleTypeSelect">
    <div class="Card padding">
      <GoodsDetailItem
        :price="commodityPrice"
        :name="commodityName"
        :description="description"
        :cover="commodityPicUrl"
        :amount="commodityCount"/>
    </div>
    <div class="Card select">
      <div class="Cells">
        <div
          @click="go(1)"
          class="Cell arrow">
          <div class="option">
            <div class="icon1"></div>
            <div>
              <div class="name">仅退款</div>
              <div class="desc">未收到货（包含未签收），或卖家协商同意的前提下</div>
            </div>
          </div>
        </div>
        <div
          @click="go(2)"
          class="Cell arrow">
          <div class="option">
            <div class="icon2"></div>
            <div>
              <div class="name">退货退款</div>
              <div class="desc">已收到货，需要退还已收到的货物</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GoodsDetailItem from '@/components/GoodsDetailItem'
import Cells from '@/components/Cells'
import Cell from '@/components/Cell'
import navigate from '../../utils/navigate'

export default {
  name: 'AfterSaleTypeSelect',
  components: {
    GoodsDetailItem,
    Cell,
    Cells
  },
  data () {
    return {
      afterServiceStatus: '',
      childCode: '',
      commodityCode: '',
      commodityCount: '',
      commodityName: '',
      commodityPicUrl: '',
      commodityPrice: '',
      couponId: '',
      createTime: '',
      description: '',
      discountAmount: '',
      openId: '',
      orderCode: '',
      orderPrice: '',
      serviceCount: '',
      skuId: '',
      status: '',
      storeCode: '',
      storeName: ''
    }
  },
  onLoad () {
    Object.assign(this, this.$query)
  },
  methods: {
    go (serviceType) {
      navigate.to('/pages/afterSaleForm/main', {
        serviceType,
        ...this.$query
      })
    }
  }
}
</script>

<style lang="less" scoped>
.AfterSaleTypeSelect {
  padding-top: 30px;

  .icon1 {
    margin-right: 20px;
    @icon: './images/icon1.png';
    background: url(@icon) no-repeat;
    background-size: image-size(@icon);
    width: image-width(@icon);
    height: image-height(@icon);
  }

  .icon2 {
    margin-right: 20px;
    @icon: './images/icon2.png';
    background: url(@icon) no-repeat;
    background-size: image-size(@icon);
    width: image-width(@icon);
    height: image-height(@icon);
  }

  .option {
    display: flex;
    align-items: center;
    margin: 20px 0;

    .name {
      font-size: 30px;
      color: rgb(64, 64, 64);
    }

    .desc {
      margin-top: 10px;
      font-size: 24px;
      color: rgb(176, 176, 176);
      width: 400px;
    }
  }
}
</style>

<style>
page {
  background: #F6F6F9;
}
</style>
