<template>
  <div class="Login">
    <img
      class="logo"
      src="./images/logo.png" alt="">
    <button
      class="btn"
      @getuserinfo="getuserinfo"
      open-type="getUserInfo">
      微信登录
    </button>
  </div>
</template>

<script>
import navigate from '../../utils/navigate'
import react from '../../utils/react'

export default {
  name: 'Login',
  data () {
    return {}
  },
  methods: {
    async getuserinfo (res) {
      await this.$api.customer.update(res.target)

      react.showToast('登录成功')

      const { to } = this.$query

      if (to) {
        navigate.redirect(`/pages/${to}/main`, this.$query)
      } else {
        navigate.switch('/pages/index/main')
      }
    }
  }
}
</script>

<style lang="less" scoped>
.Login {
  .logo {
    height: 140px;
    width: 226px;
    margin: 320px auto;
  }

  .btn {
    color: white;
    width: 600px;
    height: 88px;
    line-height: 88px;
    background-image: linear-gradient(90deg,
      #d09d74 0%,
      #be875b 100%),
    linear-gradient(
      #f2f2f7,
      #f2f2f7);
    background-blend-mode: normal,
      normal;
    border-radius: 44px;
  }
}
</style>
