<template>
  <div class="AllGoodsDialogContent">
    <div
      style="position: relative;"
      v-for="record in records"
      :key="record.id">
      <GoodsDetailItem
        :goToDetail="true"
        :data="record" />
      <div
        class="icon"
        @click="select(record)">
        <CartIcon />
      </div>
      <Divider />
    </div>
    <Loadmore v-if="records.length === 0"></Loadmore>
  </div>
</template>

<script>
import Btn from '@/components/Button'
import GoodsDetailItem from '@/components/GoodsDetailItem'
import Divider from '@/components/Divider'
import CartIcon from '@/components/Icon/CartIcon2'
import react from '../../utils/react'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'AllGoodsDialogContent',
  components: {
    Btn,
    GoodsDetailItem,
    CartIcon,
    Divider,
    Loadmore
  },
  data () {
    return {
      records: []
    }
  },
  onLoad () {
    this.$api.template
      .commodity(this.$query.templateCode)
      .then(res => {
        this.records = res.map(item => ({
          amount: item.amount,
          sku: item.commoditySku,
          storeCode: item.commoditySku.storeCode,
          commodity: {
            ...item.baseInfo,
            commodityPictureList: item.commodityPictureList
          }
        }))
      })
  },
  methods: {
    select (record) {
      this.$store.commit('cart/add', record)

      react.showToast('已加入购物车')
    }
  }
}
</script>

<style lang="less" scoped>
.AllGoodsDialogContent {
  position: relative;
  padding: 0 30px;

  .icon {
    position: absolute;
    right: 0;
    bottom: 30px;
  }
}
</style>
