<template>
  <div class="BottomPanel">
    <div class="inputWrapper">
      <input
        class="inputRemark"
        type="text"
        placeholder="写评论..."
        v-model.trim="comment" />
    </div>
    <Btn @click="checkComment">提交</Btn>
    <div
      class="pingBtn iconBtn">
      <div class="icon">
        <Contact :number="flagshipStore.phoneNumber">
          <PhoneIcon />
        </Contact>
      </div>
      <div class="name">
        <Contact :number="flagshipStore.phoneNumber">
          客服
        </Contact>
      </div>
    </div>

    <a
      class="cartBtn iconBtn"
      :href="'/pages/cart/main?storeCode=SCODE1'">
      <div class="icon">
        <CartIcon />
      </div>
      <div class="name">购物车</div>
    </a>
  </div>
</template>

<script>
import PhoneIcon from '@/components/Icon/PhoneIcon'
import CartIcon from '@/components/Icon/CartIcon'
import Contact from '@/components/Contact'
import Btn from '@/components/Button'
import react from '../../utils/react'

export default {
  name: 'BottomPanel',
  components: {
    PhoneIcon,
    CartIcon,
    Contact,
    Btn
  },
  data () {
    return {
      comment: ''
    }
  },
  computed: {
    flagshipStore () {
      return this.$store.state.global.flagshipStore
    }
  },
  onLoad () {
    console.log(this.flagshipStore)
  },
  methods: {
    checkComment () {
      if (this.comment.length === 0) {
        react.showToast({
          title: '输入不能为空',
          icon: 'none',
          duration: 1500
        })
      } else if (this.comment.length > 50) {
        react.showToast({
          title: '字数不能超过50',
          icon: 'none',
          duration: 1500
        })
      } else {
        this.$api.template
          .addComment({
            content: this.comment,
            templateCode: this.$root.$mp.query.templateCode
          })
          .then(() => {
            react.showToast('评论成功')

            this.comment = ''
          })
          .finally(() => {
            this.$emit('refreshListFromComm')
          })
      }
    }
  }
}
</script>

<style lang="less" scoped>
.BottomPanel {
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eeeeee; /* no */
  bottom: 0;
  left: 0;
  right: 0;

  .inputWrapper {
    margin: 15px;
    background: url('./images/pen.png') no-repeat 25px center;
    background-size: 27px 27px;
    background-color: #F2F2F7;
    border-radius: 10px;
    padding: 10px;
  }

  .inputRemark {
    font-size: 30px;
    width: 310px;
    margin-left: 65px;
  }

  .submitBtn {
    border-left: 0px solid #eeeeee; /* no */
    flex: 1;
    font-size: 30px;
    color: rgb(64, 64, 64);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .iconBtn {
    border-left: 0px solid #eeeeee; /* no */
    flex: 1;
    font-size: 22px;
    color: rgb(64, 64, 64);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
</style>
