<template>
  <div class="GoodsList">
    GoodsList
  </div>
</template>

<script>
export default {
  name: 'GoodsList',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.GoodsList {}
</style>
