<template>
  <div class="RemarkList">
    <div class="title ml30">
      评论<span class="f30">({{ total }})</span>
    </div>
    <Remark
      :likes="remark.templateEvaluation.likes"
      :nickName="remark.nickName"
      :avatarUrl="remark.avatarUrl"
      :content="remark.templateEvaluation.content"
      :createTime="remark.templateEvaluation.createTime"
      :id="remark.templateEvaluation.id"
      :key="remark.id"
      :likedStatus="remark.likedStatus"
      v-for="remark in records"
      @refreshListFromLike="reload" />
    <Loadmore v-if="records.length === 0"></Loadmore>
  </div>
</template>

<script>
import Remark from './Remark'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'RemarkList',
  components: {
    Remark,
    Loadmore
  },
  data () {
    return {
      templateCode: '',
      total: 0,
      current: 1,
      pages: 1,
      size: 6,
      records: []
    }
  },
  onLoad () {
    this.templateCode = this.$root.$mp.query.templateCode
    this.loadMore()
  },
  onReachBottom () {
    this.loadMore()
  },
  methods: {
    loadData () {
      return this.$api.template
        .comment(this.templateCode, {
          size: this.size,
          current: this.current
        })
    },
    loadMore () {
      if (this.current > this.pages) {
        return
      }

      this
        .loadData()
        .then(res => {
          this.fillData(res)
        })
      this.current++
    },
    fillData (res) {
      this.pages = res.pages
      this.total = res.total

      this.records = [
        ...this.records,
        ...res.records
      ]
    },
    reload () {
      this.current = 1
      wx.showNavigationBarLoading()

      return this
        .loadData()
        .then(res => {
          this.records = []

          return res
        })
        .then(res => {
          this.fillData(res)
        })
        .finally(() => {
          wx.hideNavigationBarLoading()
        })
    }
  }
}
</script>

<style lang="less" scoped>
.RemarkList {
  .title {
    font-size: 34px;
    color: rgb(64, 64, 64);
    font-weight: bold;
    @height: 90px;
    height: @height;
    line-height: @height;
  }
}
</style>
