<template>
  <div class="Remark">
    <div class="header">
      <img
        :src="avatarUrl"
        class="avatar" />
      <div class="nickname">{{ nickName }}</div>
      <div
        :class="['thumbIcon', { 'liked': likedStatus }]"
        @click="like"></div>
      <div
      class="thumb"
      @click="like">{{ likes }}</div>
    </div>
    <div class="content">{{ content }}
    </div>
    <div class="datetime">{{ time }}
    </div>
  </div>
</template>

<script>
import datetime from '@/utils/datetime'
import react from '../../utils/react'

export default {
  name: 'Remark',
  props: {
    id: {
      type: Number,
      default: 0
    },
    avatarUrl: {
      type: String,
      default: ''
    },
    nickName: {
      type: String,
      default: ''
    },
    likes: {
      type: Number,
      default: 0
    },
    likedStatus: {
      type: Boolean,
      default: false
    },
    content: {
      type: String,
      default: ''
    },
    createTime: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      liked: false
    }
  },
  computed: {
    time () {
      return datetime(this.createTime, 'noSecond')
    }
  },
  onLoad () {
    this.liked = this.likedStatus
  },
  methods: {
    like () {
      this
        .$api.template.like({
          action: !this.liked,
          commentId: this.id
        })
        .then(res => {
          if (!this.liked) {
            react.showToast('点赞成功')
          } else {
            react.showToast('取消点赞')
          }
          this.liked = res.likedStatus
          this.$emit('refreshListFromLike')
        })
    }
  }
}
</script>

<style lang="less" scoped>
@import '../../style/icon-func.less';

.Remark {
  border-top: 1px solid #EBEBEB;
  padding: 30px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .thumb {
    margin-left: 10px;
    font-size: 24px;
    color: rgb(176, 176, 176);
  }

  .thumbIcon {
    margin-left: auto;
    .icon-func('../pages/showRoomDetail/images/thumb.png');

    &.liked {
      .icon-func('../pages/showRoomDetail/images/thumbRed.png');
    }
  }

  .avatar {
    border-radius: 50%;
    background-color: rgb(159, 141, 141);
    width: 60px;
    height: 60px;
  }

  .nickname {
    margin-left: 10px;
    font-size: 34px;
    color: rgb(64, 64, 64);
  }

  .content {
    margin-top: 10px;
    font-size: 28px;
    color: rgb(64, 64, 64);
  }

  .datetime {
    margin-top: 10px;
    font-size: 24px;
    color: rgb(176, 176, 176);
	  line-height: 36px;
  }
}
</style>
