<template>
  <div class="ShowRoomDetail">
    <div class="cover">
      <img
        class="mainCover"
        mode="aspectFill"
        :src="coverPic" />
      <VrBtn />
    </div>
    <div class="BigPanel simapleInfo">
      <div class="title">{{ title }}</div>
      <div class="side">
        <div class="price">￥{{ totalPrice }}</div>
        <Btn @click="showDialog">套餐清单</Btn>
      </div>
    </div>
    <div class="BigPanel profilePanel">
      <div class="title">样板间简介</div>
      <div class="profile">
        {{ content }}
      </div>
    </div>
    <div class="BigPanel">
      <RemarkList ref="RemarkList"/>
    </div>
    <BottomPanel @refreshListFromComm="refreshList" />

    <VDialog
      @toolBtnClick="addAll"
      toolBtnText="全部加入购物车"
      title="套餐清单"
      ref="allGoodsDialog">
      <AllGoodsDialogContent />
    </VDialog>
  </div>
</template>

<script>
import BottomPanel from './BottomPanel'
import RemarkList from './RemarkList'
import Btn from '@/components/Button'
import VDialog from '@/components/Dialog'
import VrBtn from './VrBtn'
import AllGoodsDialogContent from './AllGoodsDialogContent'
import { createShareConfig } from '../../utils/share'
import react from '../../utils/react'

export default {
  name: 'ShowRoomDetail',
  components: {
    VDialog,
    RemarkList,
    BottomPanel,
    Btn,
    VrBtn,
    AllGoodsDialogContent
  },
  data () {
    return {
      templateCode: '',
      title: '',
      content: '',
      coverPic: '',
      record: [],
      totalPrice: 0
    }
  },
  methods: {
    showDialog () {
      this.$refs.allGoodsDialog.open()
    },
    refreshList () {
      this.$refs.RemarkList.reload()
    },
    addAll () {
      this.records.forEach(record => {
        this.$store.commit('cart/add', record)
      })

      react.showToast('所有商品已加入购物车')
    }
  },
  onLoad () {
    this.templateCode = this.$query.templateCode

    this.$api.template
      .get(this.templateCode)
      .then(res => {
        Object.assign(this, res)

        wx.setNavigationBarTitle({
          title: this.title
        })
      })

    this.$api.template
      .commodity(this.templateCode)
      .then(res => {
        this.records = res.map(item => ({
          amount: item.amount,
          sku: item.commoditySku,
          storeCode: item.commoditySku.storeCode,
          commodity: {
            ...item.baseInfo,
            commodityPictureList: item.commodityPictureList
          }
        }))

        this.records.forEach(record => {
          this.totalPrice += record.amount * record.sku.salePrice
        })
      })
  },
  onShareAppMessage () {
    return createShareConfig(this.title, {
      to: 'showRoomDetail',
      ...this.$query
    })
  }
}
</script>

<style lang="less" scoped>
.ShowRoomDetail {
  .mainCover {
    background-color: rgb(241, 241, 241);
    height: 450px;
    width: 100%;
  }

  .price {
    font-size: 40px;
    color: rgb(140, 0, 27);
    font-weight: bold;
  }

  .cover {
    position: relative;
  }

  .title {
    font-size: 34px;
    color: rgb(64, 64, 64);
    font-weight: bold;
    @height: 90px;
    height: @height;
    line-height: @height;
  }

  .profile {
    font-size: 30px;
    line-height: 48px;
    color: #404040;
  }

  .profilePanel, .simapleInfo {
    padding: 0 30px 30px 30px;
  }
}
</style>

<style>
page {
  background: #F7F7FA;
}
</style>
