<template>
  <a
    class="VrBtn"
    href="/pages/vr/main">
    <div class="icon"></div>
    <div>全景</div>
  </a>
</template>

<script>
export default {
  name: 'VrBtn',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.VrBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.502);
  width: 100px;
  height: 60px;
  border-radius: 30px 0 0 30px;
  padding: 0 20px;
  position: absolute;
  right: 0;
  bottom: 50px;

  .icon {
    @icon: './images/earth.png';
    background: url(@icon) no-repeat;
    background-size: image-size(@icon);
    width: image-width(@icon);
    height: image-height(@icon);
  }
}
</style>
