<template>
<div class="Article">
  <div class="title">{{ title }}</div>
  <div class="datetime">
    {{ createTime }}
  </div>
  <FavoriteIcon
    label="收藏"
    @toggle="changeFav"
    :isCollected="isCollected" />
  <div>
    <rich-text :nodes="content" />
  </div>
</div>
</template>

<script>
import FavoriteIcon from '@/components/Icon/FavoriteIcon'
import datetime from '../../utils/datetime'
import react from '../../utils/react'
import { createShareConfig } from '../../utils/share'

export default {
  name: 'Article',
  components: {
    FavoriteIcon
  },
  data () {
    return {
      title: '',
      content: '',
      createTime: '',
      isCollected: false
    }
  },
  onLoad () {
    const { id } = this.$root.$mp.query
    react.showLoading()
    this.$api.discovery
      .get(id)
      .then(res => {
        this.createTime = datetime(res.discovery.createTime)
        this.title = res.discovery.title
        this.content = res.discovery.content
        this.isCollected = res.collectedStatus
        this.id = res.discovery.id

        wx.setNavigationBarTitle({
          title: this.title
        })
      })
      .finally(() => {
        react.hideLoading()
      })
  },
  methods: {
    changeFav (pval) {
      this.isCollected = pval // 此处pval表示新的收藏状态
      this.$api.collection
        .fav({
          action: this.isCollected,
          articleId: this.id
        })
        .then(() => {
          if (this.isCollected === true) react.showToast('收藏成功')
          else react.showToast('取消收藏')
        })
    }
  },
  onShareAppMessage () {
    return createShareConfig(this.title, {
      to: 'article',
      id: this.id
    })
  }
}
</script>

<style lang="less" scoped>
.Article {
  padding: 20px;
}

.title {
	font-size: 40px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 56px;
	color: #404040;
}

.datetime {
  margin: 37px 0;
	height: 19px;
	line-height: 19px;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #b0b0b0;
}
</style>
