<template>
  <div class="BaseInfo">
    <div>运单号：{{ courierNumber }}</div>
    <div>配送公司：{{ com }}</div>
    <div class="status">
      <!-- 已收货 -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseInfo',
  props: {
    com: {
      type: String,
      default: ''
    },
    courierNumber: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="less" scoped>
.BaseInfo {
  padding: 20px 30px;
  font-size: 30px;
  color: rgb(64, 64, 64);
  background: #fff;
  margin-bottom: 30px;
  line-height: 50px;
  position: relative;

  .status {
    font-size: 30px;
    color: rgb(141, 2, 29);
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -20px;
  }
}
</style>
