<template>
  <div class="Express">
    <BaseInfo
      :courierNumber="courierNumber"
      :com="com" />
    <div class="Card timelineCard">
      <div class="timeline">
        <div
          :key="trace.time"
          v-for="(trace, $index) in traces"
          :class="{ first: $index === 0 }"
          class="timeline-item">
          <div class="timeline-item-tail"></div>
          <div class="timeline-item-head timeline-item-head-blue"></div>
          <div class="timeline-item-content">
            <div class="desc">{{ trace.desc }}</div>
            <div class="datetime">{{ trace.time }}</div>
            <Divider />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Divider from '@/components/Divider'
import Loadmore from '@/components/Loadmore'
import BaseInfo from './BaseInfo'
import api from '../../api'
import react from '../../utils/react'

export default {
  name: 'Express',
  components: {
    BaseInfo,
    Divider,
    Loadmore
  },
  data () {
    return {
      traces: [],
      com: '',
      courierNumber: '',
      expressCompanyName: '',
      expressCompanyCode: ''
    }
  },
  onLoad () {
    react.showLoading()

    Object.assign(this, this.$query)

    api.logistics
      .query({
        number: this.courierNumber,
        comid: this.expressCompanyCode
      })
      .then(res => {
        const data = JSON.parse(res).data
        this.com = data.com
        this.traces = data.traces.reverse()
      })
      .finally(() => {
        react.hideLoading()
      })
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Express {}

.timelineCard {
  padding: 30px 30px 0 30px;
}

.timeline {
  font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: rgba(0,0,0,.65);
  box-sizing: border-box;
}

.timeline-item {
  position: relative;
  padding: 0 0 20px;

  &.first .timeline-item-head {
    background: #B59677;
    transform: scale(1.2);
  }

  &.first .timeline-item-content {
    color: #8c001b;
  }
}

.timeline-item-tail {
  position: absolute;
  left: 12px;
  top: 0;
  height: 100%;
  border-left: 5px dashed #e8e8e8;
}

.timeline-item-head {
  position: absolute;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #D0D0D0;
}

.timeline-item-content {
  font-size: 30px;
  color: rgb(64, 64, 64);
  padding: 0 0 0 50px;
  position: relative;
  top: -6px;

  .desc {
    font-size: 26px;
  }

  .datetime {
    margin-top: 5px;
    font-size: 24px;
    color: #b0b0b0;
  }
}

.timeline-item-last .timeline-item-tail {
  display: none;
}

.timeline-item-last .timeline-item-content {
  min-height: 48px;
}
</style>

<style>
page {
  background: #F7F7FA;
}
</style>
