<template>
  <div class="Diy">
    <ListItem
      v-for="item in records"
      :key="item.id"
      :title="item.title"
      :coverPic="item.coverPic" />
    <Loadmore v-if="records.length === 0"></Loadmore>
  </div>
</template>

<script>
import ListItem from '@/components/ListItem'
import Loadmore from '@/components/Loadmore'
import react from '@/utils/react'

export default {
  name: 'Diy',
  components: {
    ListItem,
    Loadmore
  },
  data () {
    return {
      current: 0,
      size: 6,
      pages: 0,
      records: []
    }
  },
  onLoad () {
    this.loadMore()
  },
  onPullDownRefresh () {
    this.reload()
  },
  onReachBottom () {
    if (this.current <= this.pages) {
      this.loadMore()
    }
  },
  methods: {
    loadMore () {
      this.current++
      this.loadData().then(this.fillData)
    },
    loadData () {
      return this.$api.diy
        .all({
          current: this.current,
          size: this.size
        })
    },
    fillData (res) {
      this.pages = res.pages

      this.records = [
        ...this.records,
        ...res.records
      ]
      return res
    },
    reload () {
      this.current = 1
      wx.showNavigationBarLoading()

      return this
        .loadData()
        .then(res => {
          this.records = []

          react.showToast({
            title: '刷新成功',
            icon: 'none'
          })

          this.fillData(res)
        })
        .finally(() => {
          wx.stopPullDownRefresh()
          wx.hideNavigationBarLoading()
        })
    }
  }
}
</script>

<style lang="less" scoped>
.Diy {}

page {
  background: #F7F7FA;
}
</style>
