<template>
  <div class="BtnTools">
    <div
      class="pingBtn iconBtn">
      <div class="icon">
        <Contact :number="phoneNumber">
          <PhoneIcon />
        </Contact>
      </div>
      <div class="name">
        <Contact :number="phoneNumber">
          客服
        </Contact>
      </div>
    </div>
    <div class="cartBtn iconBtn">
      <div class="icon">
        <CartIcon :storeCode="storeCode" />
      </div>
      <div class="name">购物车</div>
    </div>
    <div @click="addToCart" class="promoteCartBtn">
      <MainButton>加入购物车</MainButton>
    </div>
    <div @click="buy" class="buyBtn">
      <MainButton type="red">立即购买</MainButton>
    </div>
  </div>
</template>

<script>
import MainButton from '@/components/MainButton'
import PhoneIcon from '@/components/Icon/PhoneIcon'
import CartIcon from '@/components/Icon/CartIcon'
import Contact from '@/components/Contact'
import react from '../../utils/react'

export default {
  name: 'BtnTools',
  data () {
    return {
      storeCode: ''
    }
  },
  props: {
    storeCode: {
      type: String,
      default: ''
    },
    commodity: {
      type: Object,
      default: () => {}
    },
    selectedGoods: {
      type: Object,
      default: () => ({
        sku: {},
        commodityCount: 0
      })
    }
  },
  components: {
    Contact,
    MainButton,
    PhoneIcon,
    CartIcon
  },
  computed: {
    skuItem () {
      return {
        commodity: this.commodity,
        sku: this.selectedGoods.sku,
        amount: this.selectedGoods.commodityCount,
        storeCode: this.storeCode
      }
    }
  },
  async onLoad () {
    this.storeCode = this.$root.$mp.query.storeCode

    const { storeInfo } = await this.$api.store.storeHome(this.storeCode)

    this.phoneNumber = storeInfo.phoneNumber
  },
  methods: {
    selectedGoodsIsNull (showToast = true) {
      const result = this.selectedGoods.commodityCount === 0

      if (result) {
        react.showToast({ title: '请选择商品' })
      }

      return result
    },
    buy () {
      this.$emit('needShowDialog', 'buy')
    },
    addToCart () {
      this.$emit('needShowDialog', 'cart')
    }
  }
}
</script>

<style lang="less" scoped>
.BtnTools {
  z-index: 1;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  height: 100px;
  line-height: 100px;
  border-top: 1px solid #B8B8B8;

  .iconBtn {
    flex: 1;
    font-size: 22px;
    color: rgb(64, 64, 64);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .name {
    height: 40px;
    line-height: 40px;
  }

  .icon {
    margin-top: 5px;
  }

  .promoteCartBtn {
    width: 270px;
  }

  .buyBtn {
    width: 270px;
  }
}
</style>
