<template>
  <div class="Evaluation">
    <a class="titleWrap" :href="allEvaluationHref">
      <div class="Cell arrow">
        <div>
          <span class="title">商品评价</span>
          <span class="total">({{ total }})</span>
        </div>
        <div class="colorRed">好评{{ rate }}%</div>
      </div>
    </a>

    <Divider :noMargin="true" />

    <div class="panel">
      <EvaluationItem
        :key="evaluation.id"
        v-for="evaluation in evaluations"
        :info="evaluation" />
      <Loadmore v-if="evaluations.length === 0"></Loadmore>
    </div>
  </div>
</template>

<script>
import EvaluationItem from '@/components/EvaluationItem'
import Loadmore from '@/components/Loadmore'
import Divider from '@/components/Divider'

export default {
  name: 'Evaluation',
  components: {
    Divider,
    EvaluationItem,
    Loadmore
  },
  data () {
    return {
      rate: 100,
      commodityCode: '',
      total: 0,
      evaluations: []
    }
  },
  computed: {
    allEvaluationHref () {
      return `/pages/summary/main?id=${this.commodityCode}`
    }
  },
  onLoad () {
    const commodityCode = this.commodityCode = this.$root.$mp.query.id

    this.$api.evaluation
      .get(commodityCode)
      .then(res => {
        this.total = res.total
        this.evaluations = res.records.splice(0, 2)
      })

    this.$api.evaluation
      .rate(commodityCode)
      .then(res => {
        this.rate = 100 * res
      })
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Evaluation {

}

.titleWrap {
  position: relative;
  background: #ffffff;
  padding: 0 30px;
  font-size: 34px;
  font-weight: bold;
}

.total {
  font-size: 26px;
}

.panel {
  position: relative;
  background: #ffffff;
  padding: 0 30px;
  margin-bottom: 20px;
}
</style>
