<template>
  <span class="Freight colorRed">
    <span v-if="data.type === 1">
      满{{ data.amount }}包邮
    </span>
    <span v-else>
      {{ data.freight }}元
    </span>
  </span>
</template>

<script>
export default {
  name: 'Freight',
  props: {
    data: {
      type: Object,
      default: () => {
        // amount
        // createTime
        // freight
        // id
        // storeCode
        // type
      }
    }
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Freight {}
</style>
