<template>
  <div class="GetCouponDialogContent">
    <Coupon
      :showBtns="true"
      :key="coupon.coupon.id"
      :categoryList="coupon.categoryList"
      :info="coupon.coupon"
      :store="coupon.store.name"
      :isReceived="coupon.isReceived"
      v-for="coupon in coupons" />
    <Loadmore v-if="coupons.length === 0"></Loadmore>
  </div>
</template>

<script>
import Coupon from '@/components/Coupon'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'GetCouponDialogContent',
  mpType: 'component',
  components: {
    Coupon,
    Loadmore
  },
  data () {
    return {
      coupons: []
    }
  },
  onLoad () {
    this.getData()
  },
  methods: {
    getData () {
      const { storeCode } = this.$root.$mp.query

      this.$api.coupon
        .store(storeCode)
        .then(res => {
          this.coupons = res
        })
    }
  }
}
</script>

<style lang="less" scoped>
.GetCouponDialogContent {
  .title {
    text-align: center;
  }
}
</style>
