<template>
  <div class="GoodsDetail">
    <swiper class="swiper" indicator-dots="true">
      <swiper-item
        :key="img"
        v-for="img in commodityPictureList">
        <img
          class="image"
          mode="aspectFill"
          :src="img.pictureUrl" />
      </swiper-item>
    </swiper>
    <div class="header">
      <div class="name">{{ baseInfo.commodityName }}</div>
      <div class="prize">
        <Price :value="baseInfo.price" />
      </div>
      <div class="sale">已售{{ baseInfo.soldQuantity }}</div>
    </div>

    <div class="panel">
      <div @click="showCouponDialog" class="Cell arrow">
        <div>
          <span class="fontBold">领劵</span>
          <span class="select colorRed">
            <span class="couponPlaceholder">最新优惠券</span>
          </span>
        </div>
      </div>
      <div class="Cell">
        <div>
          <span class="fontBold">运费</span>
          <span class="select">
            <Freight :data="storeFreight" />
          </span>
        </div>
      </div>
      <div @click="select('normal')" class="Cell arrow">
        <div>
          <span class="fontBold">选择 </span>

          <span class="select" style="color: #cf9c73;">
            <span v-if="selectedGoods.commodityCount === 0">未选择</span>

            <span v-else>
              {{ selectedGoods.sku.description }}

              x{{ selectedGoods.commodityCount }}
            </span>
          </span>
        </div>
      </div>
    </div>

    <Evaluation />

    <div class="titleWrap">
      <div class="formTitle">
        <span class="title">商品详情</span>
      </div>
    </div>

    <div class="detail">
      <rich-text nodes="<img width='100%' src='https://img.alicdn.com/imgextra/i2/2074559483/TB21gskyUhnpuFjSZFpXXcpuXXa_!!2074559483.jpg' />"/>
    </div>

    <VDialog ref="SelectDialog">
      <SelectDialogContent
        @update="selectDialogUpdateHandle"
        :mode="dialogMode"
        :commodityPicture="commodityPictureList[0]"
        :goodsBaseInfo="baseInfo"
        :specificationList="specificationList" />
    </VDialog>

    <VDialog title="领取优惠券" ref="getCouponDialog">
      <GetCouponDialogContent />
    </VDialog>

    <BtnTools
      @needShowDialog="select"
      :storeCode="storeCode"
      :commodity="baseInfo"
      :selectedGoods="selectedGoods" />
  </div>
</template>

<script>
import SelectDialogContent from './SelectDialogContent'
import GetCouponDialogContent from './GetCouponDialogContent'
import Dialog from '@/components/Dialog'
import Cell from '@/components/Cell'
import Price from '@/components/Price'
import BtnTools from './BtnTools'
import Freight from './Freight'
import api from '../../api'
import react from '../../utils/react'
import Evaluation from './Evaluation'
import { createShareConfig } from '../../utils/share'

export default {
  name: 'GoodsDetail',
  components: {
    Price,
    Cell,
    GetCouponDialogContent,
    SelectDialogContent,
    BtnTools,
    Freight,
    VDialog: Dialog,
    Evaluation
  },
  data () {
    return {
      dialogMode: 'normal',
      baseInfo: {},
      commodityPictureList: {},
      specificationList: [],
      storeFreight: {},
      storeCode: '',
      selectedGoods: {
        sku: {},
        commodityCount: 0
      }
    }
  },
  onLoad () {
    this.storeCode = this.$root.$mp.query.storeCode
    this.getData()
  },
  methods: {
    showCouponDialog () {
      this.$refs.getCouponDialog.open()
    },
    getData () {
      const {
        id: commodityCode,
        storeCode
      } = this.$root.$mp.query

      react.showLoading()

      api.commodity
        .detail({
          storeCode,
          commodityCode
        })
        .then(res => {
          this.baseInfo = res.baseInfo
          this.baseInfo.commodityPictureList = res.commodityPictureList
          this.commodityPictureList = res.commodityPictureList
          this.specificationList = res.specificationList
          this.storeFreight = res.storeFreight || {}
        })
        .finally(() => {
          react.hideLoading()
        })
    },
    select (dialogMode) {
      this.dialogMode = dialogMode
      this.$refs.SelectDialog.open()
    },
    selectDialogUpdateHandle (info) {
      this.selectedGoods = info
    }
  },
  onShareAppMessage () {
    return createShareConfig(this.baseInfo.commodityName, {
      to: 'goodsDetail',
      ...this.$query
    })
  }
}
</script>

<style>
page {
  background: #F5F5F5;
}
</style>

<style lang="less" scoped>
.swiper {
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
  height: 750px;
  width: 100%;

  .image {
    width: 100%;
    height: 100%;
  }
}

.header {
  padding: 30px;
  position: relative;
  background: #ffffff;
  margin-bottom: 20px;

  .name {
    font-size: 34px;
    color: rgb(64, 64, 64);
    font-weight: bold;
  }

  .prize {
    margin-top: 10px;
    font-size: 40px;
    color: rgb(140, 0, 27);
    font-weight: bold;
  }

  .sale {
    font-size: 20px;
    color: rgb(176, 176, 176);
    position: absolute;
    right: 30px;
    bottom: 35px;
  }
}

.select {
  margin-left: 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.detail {
  .image {
    width: 100%;
  }
}

.titleWrap {
  position: relative;
  background: #ffffff;
  padding: 0 30px;
}

.couponPlaceholder {
  margin-left: 10px;
}

.panel {
  position: relative;
  background: #ffffff;
  padding: 0 30px;
  margin-bottom: 20px;
}
</style>
