<template>
  <div
    v-if="specificationList[0]"
    class="SelectDialogContent">
    <div class="goodsInfo">
      <img
        class="cover"
        mode="aspectFill"
        :src="commodityPicture.pictureUrl" />
      <div class="infoWrapper">
        <div class="goodsName">{{ goodsBaseInfo.commodityName }}</div>
        <div class="prize">
          ￥ {{ sku.salePrice || goodsBaseInfo.price }}
        </div>
      </div>
    </div>
    <Divider />
    <div
      :key="$index"
      v-for="(specification, $index) in specificationList"
      class="goodsType">
      <div class="formTitle">
        {{ specification.specificationName }}
      </div>
      <div class="tagList">
        <div
          class="tag"
          :key="option.optionsId"
          v-for="option in specification.options">
          <Btn
            @click="select(specification, option)"
            :info="options[specification.specificationName].optionsName !== option.optionsName"
            :text="option.optionsName" />
        </div>
      </div>
    </div>
    <div class="number">
      <div class="formTitle">数量</div>
      <div class="numberInput">
        <NumberInput
          :min="1"
          :value="commodityCount"
          @change="commodityCountChange"
          v-model="commodityCount" />
      </div>
    </div>
    <div class="fixedBottom">
      <div
        class="btns"
        v-if="mode === 'normal'">
        <div class="btn">
          <MainButton @click="addToCart">加入购物车</MainButton>
        </div>
        <div class="btn">
          <MainButton @click="buy" type="red">立即购买</MainButton>
        </div>
      </div>

      <MainButton
        v-else
        type="red"
        text="确定"
        @click="ok" />
    </div>
  </div>
</template>

<script>
import NumberInput from '@/components/NumberInput'
import MainButton from '@/components/MainButton'
import Btn from '@/components/Button'
import Divider from '@/components/Divider'
import react from '../../utils/react'

export default {
  name: 'SelectDialogContent',
  props: {
    mode: {
      type: String,
      default: ''
    },
    commodityPicture: {
      type: String,
      default: ''
    },
    goodsBaseInfo: {
      type: Object,
      default: () => {}
    },
    specificationList: {
      type: Array,
      default: () => [
        // [{
        //   "specificationName":"材质",
        //   "specificationId":3,
        //   "options":[{
        //     "optionsName":"竹质",
        //     "optionsId":5
        //   },{
        //     "optionsName":"楠木",
        //     "optionsId":6
        // }]
      ]
    }
  },
  watch: {
    specificationList (val) {
      if (!val.forEach) {
        return
      }

      let options = {}

      val.forEach(specification => {
        options[specification.specificationName] = {}
      })

      this.options = options
    }
  },
  data () {
    return {
      commodityCount: 1,
      isShow: false,
      options: {},
      storeCode: '',
      commodityCode: '',
      finallySelected: {},
      sku: {}
    }
  },
  components: {
    Divider,
    Btn,
    NumberInput,
    MainButton
  },
  computed: {
    skuItem () {
      return {
        commodity: this.goodsBaseInfo,
        sku: this.sku,
        amount: this.commodityCount,
        storeCode: this.storeCode
      }
    }
  },
  onLoad () {
    const { id: commodityCode, storeCode } = this.$root.$mp.query

    this.commodityCode = commodityCode
    this.storeCode = storeCode
  },
  methods: {
    commodityCountChange () {
      this.updateGoodsInfo()
    },
    ok () {
      if (!this.checkAllOptions()) {
        react.showToast({ title: '请选择商品' })
        return
      }

      if (this.mode === 'cart') {
        this.addToCart()
      } else {
        this.buy()
      }
    },
    closeDialog () {
      this.$parent.close()
    },
    buy () {
      if (!this.checkAllOptions()) {
        react.showToast({ title: '请选择商品' })
        return
      }

      this.$store.commit('orderConfirm/buy', {
        skuList: [
          this.skuItem
        ],
        storeCode: this.storeCode
      })

      this.closeDialog()
    },
    addToCart () {
      if (!this.checkAllOptions()) {
        react.showToast({ title: '请选择商品' })
        return
      }

      this.$store.commit('cart/add', this.skuItem)

      react.showToast({ title: '已加入购物车' })
      this.closeDialog()
    },
    select (specification, optionSelected) {
      this.options[specification.specificationName] = optionSelected
      this.updateGoodsInfo()
    },
    updateGoodsInfo () {
      if (!this.checkAllOptions()) {
        return
      }

      const { id: commodityCode, storeCode } = this.$root.$mp.query
      const optsIds = Object.keys(this.options)
        .map(optionsName => this.options[optionsName].optionsId)
        .join(',')

      this.$api.commodity
        .sku({
          storeCode,
          commodityCode,
          optsIds
        })
        .then(sku => {
          this.sku = sku
          this.$emit('update', {
            sku,
            commodityCount: this.commodityCount
          })
        })
    },
    checkAllOptions () {
      for (const key in this.options) {
        if (!this.options[key].optionsId) {
          return false
        }
      }
      return true
    }
  }
}
</script>

<style lang="less" scoped>
.SelectDialogContent {
  padding: 30px;
}

.content {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100px;
  background: white;
  transform: translate(0, 2000px)
}

.goodsInfo {
  display: flex;
  align-items: flex-end;
  @height: 140px;

  .cover {
    background-color: rgb(0, 7, 9);
    width: @height;
    height: @height;
  }

  .infoWrapper {
    height: @height;

    .goodsName {
      margin: 15px 0 10px 30px;
      font-size: 34px;
      color: rgb(64, 64, 64);
      font-weight: bold;
    }
  }

  .prize {
    margin-left: 30px;
    font-size: 40px;
    color: rgb(140, 0, 27);
    font-weight: bold;
  }
}

.tagList {
  .tag {
    display: inline-block;
    margin-bottom: 20px;
  }

  .tag + .tag {
    margin-left: 15px;
  }
}

.number {
  position: relative;

  .numberInput {
    position: absolute;
    right: 0;
    top: 20px;
  }
}

.fixedBottom {
  .btns {
    width: 100%;
    display: flex;
  }

  .btn {
    flex: 1;
  }
}
</style>
