<template>
  <div
    @click="click"
    :class="{
      Coupon: true,
      disable: disable
    }">
    <div class="prize">
      <span class="y">￥</span>
      <span class="value">{{ info.reduction }}</span>
    </div>
    <div class="condition">
      <div v-if="info.thresholdPrice === 0">
        无金额门槛
      </div>
      <div v-else>
        满{{ info.thresholdPrice }}立减
      </div>
    </div>
    <div class="type">
      仅限
      <span>
        {{ store }}
      </span>
      <span
        :key="category.id"
        v-for="category in categoryList">
        {{ category.name }}
      </span>
      使用
    </div>
    <div class="line"></div>
    <div>
      <div class="name">
        {{ info.name }}
      </div>
      <div class="date">
        {{ createTime }}
        ~
        {{ endTime }}
      </div>
    </div>

    <div v-if="showBtns">
      <div
        class="btn"
        v-if="isReceived || flag">已领取</div>

      <div
        v-else-if="!disable && !flag"
        class="btn"
        @click.stop="get">
        立即领取
      </div>
    </div>
  </div>
</template>

<script>
import react from '../../utils/react'
import datetime from '../../utils/datetime'

export default {
  name: 'Coupon',
  props: {
    info: {
      type: Object,
      default: () => {}
    },
    categoryList: {
      type: Array,
      default: () => []
    },
    disable: {
      type: Boolean,
      default: false
    },
    showBtns: {
      type: Boolean,
      default: true
    },
    isReceived: {
      type: Boolean,
      default: true
    },
    store: {
      type: String,
      default: ''
    }
  },
  computed: {
    createTime () {
      return datetime(this.info.startTime)
    },
    endTime () {
      return datetime(this.info.endTime)
    }
  },
  data () {
    return {
      flag: false
    }
  },
  methods: {
    click () {
      this.$emit('click', this.info)
    },
    async get () {
      if (this.disable || this.flag) {
        return
      }

      react.showLoading('领取中...')

      try {
        await this.$api.coupon.customer(this.info.id)

        react.showToast('领取成功')

        this.flag = true
      } finally {
        react.hideLoading()
      }
    }
  }
}
</script>

<style lang="less" scoped>
.Coupon {
  display: flex;
  margin: 20px auto;
  background: url('./images/coupon.png') no-repeat;
  background-size: 100%;
  width: image-width('./images/coupon.png');
  height: image-height('./images/coupon.png');
  color: white;
  position: relative;

  &.disable {
    opacity: .4;
  }

  .type {
    font-size: 24px;
    color: #805028;
    position: absolute;
    left: 230px;
    top: 30px;
  }

  .prize {
    font-weight: bold;
    position: absolute;
    text-align: center;
    left: 0;
    top: 40px;
    width: 200px;

    .y {
      font-size: 32px;
    }

    .value {
      font-size: 80px;
    }
  }

  .name {
    font-size: 24px;
    position: absolute;
    left: 230px;
    top: 130px;
  }

  .condition {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.102);
    position: absolute;
    width: 164px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    left: 20px;
    top: 160px;
    font-size: 20px;
  }

  .date {
    font-size: 20px;
    position: absolute;
    left: 230px;
    top: 170px;
  }

  .line {
    width: 440px;
    border-bottom: 2px dashed white;
    position: absolute;
    left: 230px;
    top: 90px;
  }

  .btn {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 140px;
    height: 54px;
    line-height: 54px;
    border-radius: 54px;
    color: #9f8d8d;
    text-align: center;
    font-size: 24px;
    left: 534px;
    top: 110px;
  }
}
</style>
