<template>
  <div class="Cell">
    <div class="hd">
      <div class="label">{{ label }}</div>
    </div>
    <div class="bd">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Cell',
  props: {
    label: String
  },
  data () {
    return {
    }
  },
  methods: {}
}
</script>

<style lang="less">
.Cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  font-size: 30px;
  color: rgb(64, 64, 64);
  border-bottom: 1px solid #D0D0D0; /* no */

  &:last-child {
    border-bottom: none;
  }


  &.arrow {
    background: url('./images/arrow.png') center right no-repeat;
    background-size: image-size('./images/arrow.png');
    padding-right: 30px;
  }

  .bd {
    flex: 1;
  }

  .label {
    display: block;
    width: 150px;
    word-wrap: break-word;
    word-break: break-all;
  }
}
</style>
