<template>
  <div class="MyContribute">
    <ContributeList />
  </div>
</template>

<script>
import ContributeList from '@/components/ContributeList'

export default {
  name: 'MyContribute',
  components: {
    ContributeList
  },
  data () {
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.MyContribute {}
</style>
