<template>
  <div class="Contribute">
    <div class="header">
      <img
        class="avatar"
        :src="customer.avatarUrl" />
      <div class="nickname">{{ customer.nickName }}</div>
      <div class="date">{{ matchWorks.createTime }}</div>
    </div>
    <div class="cover">
      <Loadmore v-if="pictureList.length === 0"></Loadmore>
      <swiper
        class="swiper"
        indicator-dots="true">
        <swiper-item
          :key="img"
          v-for="img in pictureList">
          <img
            class="image"
            mode="aspectFill"
            :src="img.pictureUrl" />
        </swiper-item>
      </swiper>
    </div>
    <div class="title">{{ matchWorks.worksTitle }}</div>
    <div class="desc">{{ matchWorks.introduction }}</div>
    <div
      class="fixedBottom"
      v-show="fromMatch">
      <MainButton
        @click="btnFunc"
        :text="btnText" />
    </div>
  </div>
</template>

<script>
import MainButton from '@/components/MainButton'
import Loadmore from '@/components/Loadmore'
import datetime from '../../utils/datetime'
import react from '../../utils/react'
import { createShareConfig } from '../../utils/share'

export default {
  name: 'Contribute',
  components: {
    MainButton,
    Loadmore
  },
  data () {
    return {
      id: 0,
      fromMatch: null,
      matchWorks: {},
      pictureList: [],
      customer: {},
      createTime: '',
      canVote: true,
      btnText: ''
    }
  },
  onLoad () {
    this.id = this.$query.id
    this.fromMatch = this.$query.from === 'match'
    this.canVote = this.$query.canVote === 'true'
    this.loadData().then(this.setData)
  },
  methods: {
    loadData () {
      return this.$api.matchworks.get(this.id)
    },
    setData (res) {
      Object.assign(this.matchWorks, res.matchWorksInfoRespDto.matchWorks)
      Object.assign(this.customer, res.customer)
      this.pictureList = res.matchWorksInfoRespDto.pictureList
      this.matchWorks.createTime = datetime(this.matchWorks.createTime, 'date')
      this.btnText = this.canVote ? '投票' : '已投票'
      wx.setNavigationBarTitle({
        title: this.matchWorks.worksTitle
      })
    },
    async vote () {
      react.showLoading('投票中...')

      try {
        await this.$api.matchworks.vote(this.id)

        react.showToast({
          title: '投票成功',
          icon: 'success'
        })
      } finally {
        react.hideLoading()
      }
    },
    btnFunc () {
      if (this.matchWorks.status) {
        react.showToast('您已投票')
      } else {
        this.vote()
        this.matchWorks.status = 1
      }
      this.btnText = '已投票'
    }
  },
  onShareAppMessage () {
    return createShareConfig(this.matchWorks.worksTitle, {
      to: 'contribute',
      ...this.$query
    })
  }
}
</script>

<style lang="less">
.Contribute {
  padding: 0 30px 120px 30px;
}

.title {
  margin-top: 45px;
  font-size: 37px;
  color: rgb(64, 64, 64);
  font-weight: bold;
  text-align: center;
}

.desc {
  margin-top: 45px;
  font-size: 34px;
  color: rgb(64, 64, 64);
  line-height: 1.471;
}

.nickname {
  font-size: 34px;
  color: rgb(64, 64, 64);
  margin-left: 10px;
}

.cover {
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
  width: 690px;
  height: 300px;
  overflow: hidden;

  .image {
    height: 100%;
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
}

.date {
  font-size: 24px;
  color: rgb(176, 176, 176);
  margin-left: auto;
}

.avatar {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgb(159, 141, 141);
  width: 60px;
  height: 60px;
}
</style>
