<template>
  <a :href="href" class="ListItem">
    <div class="imageWrap">
      <img
        class="image"
        mode="aspectFill"
        :src="coverPic" />
      <div v-if="view !== -1" class="view">
        <div class="viewIcon"></div>
        <div>{{ view }}</div>
      </div>
    </div>
    <div v-if="title" class="title">
      {{ title }}
    </div>
    <div v-if="desc" class="desc">
      {{ desc }}
    </div>
  </a>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    desc: {
      type: String,
      default: ''
    },
    cover: {
      type: String,
      default: ''
    },
    view: {
      type: Number,
      default: -1
    },
    coverPic: {
      type: String,
      default: ''
    },
    href: {
      type: String,
      default: ''
    }
  },
  name: 'ListItem'
}
</script>

<style lang="less" scoped>
.ListItem {
  box-sizing: border-box;
  display: block;
  padding: 30px;
  width: 100%;
  margin-bottom: 25px;
  background: #ffffff;

  .imageWrap {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    height: 300px;
    width: 100%;

    .view {
      display: flex;
      align-items: center;
      background-color: rgb(207, 156, 115);
      opacity: 0.8;
      position: absolute;
      right: 0;
      top: 0;
      height: 40px;
      line-height: 40px;
      font-size: 24px;
      color: white;
      border-bottom-left-radius: 20px;
      padding: 0 10px;
    }

    .viewIcon {
      background: url('./images/eye.png') no-repeat;
      background-size: 100%;
      width: image-width('./images/eye.png');
      height: image-height('./images/eye.png');
      margin-right: 10px;
    }
  }

  .image {
    width: 100%;
    height: 400px;
  }

  .title {
    margin-top: 20px;
    font-size: 34px;
    color: rgb(64, 64, 64);
    text-align: left;
  }

  .desc {
    font-size: 24px;
    margin-top: 20px;
    color: rgb(64, 64, 64);
  }
}
</style>
