<template>
  <div class="AddressEdit">
    <div class="item">收件人
      <input
        type="text"
        class="input"
        :class="{error: !check.consignee.pass}"
        v-model.trim.lazy="customItem.consignee"
        @change="checkConsignee(customItem.consignee)">
    </div>
    <div
      class="errmsg"
      v-show="!check.consignee.pass">
      {{ check.consignee.errMsg }}
    </div>
    <div class="item">手机号
      <input
        type="number"
        class="input"
        :class="{error: !check.phone.pass}"
        v-model.trim.lazy="customItem.phone"
        @change="checkPhone(customItem.phone)">
    </div>
    <div
      class="errmsg"
      v-show="!check.phone.pass">
      {{ check.phone.errMsg }}
    </div>
    <div class="item">地区
      <picker
        mode="region"
        @change="bindRegionChange"
        :value="form.region">
        <view class="pickerbox">
          {{form.region[0]}}，{{form.region[1]}}，{{form.region[2]}}
        </view>
      </picker>
    </div>
    <div class="item">邮政编码
      <input
        type="number"
        class="input"
        :class="{ error: !check.postcode.pass }"
        v-model.trim.lazy="customItem.postcode"
        @change="checkPostcode(customItem.postcode)">
    </div>
    <div
      class="errmsg"
      v-show="!check.postcode.pass">
      {{ check.postcode.errMsg }}
    </div>
    <div class="item">街道
      <input
        type="text"
        class="input"
        :class="{error: !check.street.pass}"
        v-model.trim.lazy="customItem.street"
        @change="checkStreet(customItem.street)">
    </div>
    <div
      class="errmsg"
      v-show="!check.street.pass">
      {{ check.street.errMsg }}
    </div>
    <div>
      <CheckBox
      @toggle="changeDefault"
      :value="customItem.isDefault === 1">
        <div class="agree">设为默认地址</div>
      </CheckBox>
    </div>
    <div class="fixedBottom">
      <div v-if="mode === 'edit'" class="removeBtn">
        <MainButton
          type="link"
          @click="del(customItem.id)">
          删除
        </MainButton>
      </div>
      <MainButton
        v-if="mode === 'edit'"
        @click="addOrUpdate('update')">
        确认
      </MainButton>
      <MainButton
        v-else
        @click="addOrUpdate('add')">
        确认
      </MainButton>
    </div>
  </div>
</template>

<script>
import MainButton from '@/components/MainButton'
import CheckBox from '@/components/CheckBox'
import react from '../../utils/react'
import api from '@/api'

export default {
  name: 'AddressEdit',
  components: {
    MainButton,
    CheckBox
  },
  computed: {
    addressDetail () {
      return this.form.region[0] +
      ' ' + this.form.region[1] +
      ' ' + this.form.region[2]
    }
  },
  data () {
    return {
      mode: '',
      check: {
        consignee: {
          pass: true,
          errMsg: '*不能多于10个字符'
        },
        phone: {
          pass: true,
          errMsg: '*不能多于16个字符'
        },
        street: {
          pass: true,
          errMsg: '*不能多于50个字符'
        },
        postcode: {
          pass: true,
          errMsg: '*邮编应为六位数字'
        }
      },
      customItem: {
        addressId: 110101,
        consignee: '',
        isDefault: 0,
        phone: '',
        postcode: null,
        street: ''
      },
      form: {
        name: '',
        region: ['北京市', '北京市', '东城区']
      }
    }
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  onLoad () {
    this.mode = this.$root.$mp.query.mode
    this.customItem.addressDetail = this.addressDetail

    if (this.mode === 'edit') {
      react.showLoading()
      let id = this.$root.$mp.query.id
      this.$api.delivery
        .get()
        .then(res => {
          Object.assign(this.customItem, this.find(res, id))
          this.form.region = this.customItem.addressDetail.split(' ')
        })
        .finally(() => {
          react.hideLoading()
        })
    }
  },
  methods: {
    find (res, id) {
      return res.find(item => {
        return item.id === parseInt(id)
      })
    },
    checkConsignee (consignee) {
      this.check.consignee.pass = (consignee.length > 0 && consignee.length <= 10)
    },
    checkPhone (phone) {
      if (phone.length === 11) {
        let reg = /^[1][3,4,5,7,8][0-9]{9}$/
        if (!reg.test(phone)) {
          this.check.phone = {
            pass: false,
            errMsg: '*请检查手机号格式'
          }
        } else {
          this.check.phone.pass = true
        }
      } else {
        this.check.phone = {
          pass: false,
          errMsg: '*手机号应为11位'
        }
      }
    },
    checkStreet (street) {
      this.check.street.pass = (street.length > 0 && street.length <= 50)
    },
    checkPostcode (postcode) {
      let str = postcode.toString()
      let reg = /^\d+$/
      if (reg.test(str) && str.length === 6) {
        this.check.postcode.pass = true
      } else {
        this.check.postcode.pass = false
      }
    },
    changeDefault (pval) {
      this.customItem.isDefault = (pval === true) ? 1 : 0
    },
    del (id) {
      react.showModal({
        title: '确认删除？',
        content: '此操作无法撤销',
        success (res) {
          if (res.confirm) {
            api.delivery.delete({id}).then(res => {
              react.showToast({
                title: '删除成功',
                icon: 'success',
                duration: 1500,
                success: wx.navigateBack()
              })
            })
          }
        }
      })
    },
    bindRegionChange (e) {
      this.form.region = e.mp.detail.value
      this.customItem.addressDetail = this.addressDetail
      this.customItem.addressId = e.mp.detail.code[2]
    },
    addOrUpdate (option) {
      if (
        this.check.consignee.pass &&
        this.check.phone.pass &&
        this.check.street.pass &&
        this.check.postcode.pass
      ) {
        api.delivery[option](this.customItem).then(res => {
          react.showToast({
            title: '操作成功',
            icon: 'success',
            duration: 1500,
            success: wx.navigateBack()
          })
        })
      } else {
        react.showToast({
          title: '请检查后重试',
          icon: 'none',
          duration: 2000
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
.AddressEdit {
  padding: 30px;

  .agree {
    margin-left: 10px;
    font-size: 24px;
    color: rgb(64, 64, 64);
  }

  .item {
    font-size: 30px;
    padding: 20px 0;
  }

  .pickerbox {
    margin-top: 10px;
  }

  .error {
  }

  .errmsg {
    height: 52rpx;
    font-size: 26rpx;
    color: red;
  }

  .removeBtn {
    box-sizing: border-box;
    flex: 0.5;
    border-top: 2px solid #DADADA;
  }
}
</style>
