<template>
  <div class="DiyDetailAdd">
    <Filter />
    <div class="itemList">
      <Item
        :key="item"
        v-for="item in 20"/>
    </div>
    <div class="fixedBottom ok">
      <MainButton
        @click="ok"
        type="link">确定
      </MainButton>
    </div>
  </div>
</template>

<script>
import Filter from '@/components/Filter'
import MainButton from '@/components/MainButton'
import Item from './Item'

export default {
  name: 'DiyDetailAdd',
  components: {
    MainButton,
    Item,
    Filter
  },
  data () {
    return {}
  },
  methods: {
    ok () {
    }
  }
}
</script>

<style lang="less" scoped>
.DiyDetailAdd {
  .itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
  }

  .ok {
    border-top: 1px solid #eee;
  }
}
</style>
