<template>
  <div class="Item" @click="select">
    <div class="imageWrap">
      <img
        class="image"
        mode="aspectFill"
        src="//img14.360buyimg.com/n2/s240x240_jfs/t3382/4/1552529048/405283/114c03ac/582c25ecNf0465c60.jpg" />
      <div
        v-if="selected"
        class="selected">
      </div>
    </div>
    <div>
      <div class="name">{{ info.name }}</div>
      <div class="side">
        <div class="price">￥{{ info.price }}</div>
        <div
          v-if="showCount"
          class="count">销量2342
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Item',
  props: {
    showCount: {
      type: Boolean,
      default: false
    },
    info: {
      type: Object,
      default () {
        return {
          cover: '',
          name: '商品名称',
          price: 98.0
        }
      }
    }
  },
  data () {
    return {
      selected: false
    }
  },
  methods: {
    select () {
      this.selected = !this.selected
    }
  }
}
</script>

<style lang="less" scoped>
.Item {
  display: block;
  margin-bottom: 20px;

  .imageWrap {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 330px;
    height: 330px;
  }

  .selected {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    border: 5px solid #762124;
    border-radius: 10px;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .price {
    font-size: 36px;
    color: rgb(140, 0, 27);
  }

  .name {
    font-size: 30px;
    color: rgb(72, 72, 72);
    margin-top: 10px;
  }

  .count {
    font-size: 20px;
    color: rgb(176, 176, 176);
  }
}
</style>
