<template>
  <div class="Class">
    <GoodsClass :storeCode="flagshipStore.code" />
  </div>
</template>

<script>
import GoodsClass from '@/components/GoodsClass'

export default {
  name: 'Class',
  components: {
    GoodsClass
  },
  computed: {
    flagshipStore () {
      return this.$store.state.global.flagshipStore
    }
  },
  data () {
    return {}
  },
  async onLoad () {
    await this.$store.dispatch('global/getFlagshipStore')
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Class {
  height: 100vh;
}
</style>
