<template>
  <div class="Cart">
    <Loadmore v-if="goodsList.skuList.length === 0" />
    <ItemList
      v-else
      :skuList="goodsList.skuList"
      :storeCode="storeCode"/>
    <FixBar :skuList="goodsList.skuList" />
  </div>
</template>

<script>
import MainButton from '@/components/MainButton'
import Loadmore from '@/components/Loadmore'
import ItemList from './ItemList'
import FixBar from './FixBar'

export default {
  name: 'Cart',
  components: {
    MainButton,
    ItemList,
    FixBar,
    Loadmore
  },
  computed: {
    goodsList () {
      const list = this.$store.state.cart.goodsList
        .find(item => item.storeCode === this.storeCode)

      return list || {
        skuList: []
      }
    }
  },
  data () {
    return {
      storeCode: ''
    }
  },
  onLoad () {
    this.storeCode = this.$root.$mp.query.storeCode
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Cart {
  padding-bottom: 100px;
}
</style>

<style>
page {
  background: #F7F7F7;
}
</style>
