<template>
  <div class="FixBar">
    <div class="checkbox">
      <CheckBox
        :value="checkBoxValue"
        @click="clickBoxChange"
        label="全选" />
    </div>
    <div class="select">
      <span>总计：</span>
      <span class="colorRed total">￥{{ total || 0 }}</span>
    </div>
    <div class="buy">
      <MainButton
        :text="buttonText"
        @click="pay"
        type="red" />
    </div>
  </div>
</template>

<script>
import CheckBox from '@/components/CheckBox'
import MainButton from '@/components/MainButton'
import react from '../../utils/react'

export default {
  name: 'FixBar',
  components: {
    CheckBox,
    MainButton
  },
  props: {
    skuList: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    buttonText () {
      const num = this.skuList.filter(item => item.selected).length
      let text = '结算'
      const numText = `(${num})`

      if (num !== 0) {
        text += numText
      }

      return text
    },
    total () {
      return this.skuList
        .filter(item => item.selected)
        .reduce((price, item) => {
          return price + item.amount * item.sku.salePrice
        }, 0)
    },
    checkBoxValue () {
      const list = this.$store.state.cart.goodsList
        .find(item => item.storeCode === this.storeCode)

      if (list && list.skuList) {
        return list.skuList.every(item => item.selected)
      } else {
        return 0
      }
    }
  },
  data () {
    return {
      storeCode: this.$root.$mp.query.storeCode
    }
  },
  methods: {
    clickBoxChange (value) {
      const action = value ? 'cart/selectAll' : 'cart/notSelectAll'
      this.$store.commit(action, this.storeCode)
    },
    pay () {
      if (this.total <= 0 || !this.skuList) {
        react.showToast('请选择商品')
        return
      }

      this.$store.commit('orderConfirm/buy', {
        skuList: this.skuList.filter(item => item.selected),
        storeCode: this.storeCode
      })
    }
  }
}
</script>

<style lang="less" scoped>
.FixBar {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  background: #ffffff;
  justify-content: space-between;
  align-items: center;

  .checkbox {
    font-size: 30px;
    margin-left: 30px;
  }

  .select {
    flex: 1;
    font-size: 34px;
    color: rgb(64, 64, 64);
    line-height: 100px;
    padding-right: 50px;
    text-align: right;
  }

  .total {
    font-weight: bold;
  }

  .small {
    font-size: 10px;
    color: #999;
    font-weight: 400;
  }

  .buy {
    width: 280px;
  }
}
</style>
