<template>
  <div class="Card ItemList">
    <div class="header">
      {{ storeInfo.name }}
    </div>
    <div class="content">
      <div
        v-if="item.amount > 0"
        :key="item.sku.id"
        v-for="item in skuList"
        class="item">
        <div class="checkbox">
          <CheckBox
            @click="checkboxChange(item)"
            :value="item.selected" />
        </div>

        <div class="goods">
          <GoodsDetailItem
            :setPriceTextRed="true"
            :data="item"
            :showAmount="false" />
          <div class="numberInput">
            <NumberInput
              @change="value => numberInputChange(value, item)"
              :value="item.amount" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GoodsDetailItem from '@/components/GoodsDetailItem'
import CheckBox from '@/components/CheckBox'
import NumberInput from '@/components/NumberInput'

export default {
  name: 'ItemList',
  components: {
    NumberInput,
    GoodsDetailItem,
    CheckBox
  },
  props: {
    storeCode: {
      type: String,
      default: ''
    },
    skuList: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      storeInfo: {}
    }
  },
  onLoad () {
    this.$api.store.storeHome(this.storeCode)
      .then(res => {
        this.storeInfo = res.storeInfo
      })
  },
  methods: {
    numberInputChange (amount, skuItem) {
      this.$store.commit('cart/set', {
        skuItem,
        value: {
          amount
        }
      })
    },
    checkboxChange (skuItem) {
      this.$store.commit('cart/set', {
        skuItem,
        value: {
          selected: !skuItem.selected
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
.ItemList {
  margin-top: 30px;

  .content {
    padding: 10px 30px;
  }

  .checkbox {
    margin-right: 10px;
  }

  .numberInput {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .item {
    display: flex;
    align-items: center;
    padding: 15px 0;
  }

  .goods {
    position: relative;
    width: 600px;
  }
}
</style>
