<template>
  <div class="Navi">
    <a
      class="item"
      :href="couponLink">
      <img
        class="image"
        src="./images/icon3.png" alt="">
      <div class="name">
        本店福利
      </div>
    </a>
    <a
      class="item"
      :href="classLink">
      <img
        class="image"
        src="./images/icon2.png" alt="">
      <div class="name">
        分类好物
      </div>
    </a>
    <a class="item" href="/pages/qrcode/main">
      <img
        class="image"
        src="./images/icon1.png" alt="">
      <div class="name">
        付款码
      </div>
    </a>
  </div>
</template>

<script>
export default {
  name: 'Navi',
  props: {
    href: String,
    icon: String
  },
  data () {
    return {
      storeCode: ''
    }
  },
  computed: {
    couponLink () {
      return `/pages/storeCoupon/main?storeCode=${this.storeCode}`
    },
    classLink () {
      return `/pages/storeClass/main?storeCode=${this.storeCode}`
    }
  },
  onLoad () {
    this.storeCode = this.$root.$mp.query.storeCode
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Navi {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 20px 0;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;

    .image {
      width: 85px;
      height: 85px;
    }

    .name {
      height: 50px;
      line-height: 50px;
      font-size: 28px;
      color: #8c001b;
    }
  }
}
</style>
