<template>
  <div class="StoreDetail">
    <div class="searchBar">
      <SearchBar
        :placeholder="true"
        :storeCode="storeCode"
        :hasCode="false" />
    </div>

    <div class="BigPanel">
      <a href="/pages/goodsDetail/main?id=CCODE2&storeCode=SCODE1">
        <div>
          <img class="storeCover" :src="storePictures[0]" />
        </div>
      </a>
      <div class="storeInfo">
        <div class="name">{{ storeInfo.name }}</div>
        <div class="storeInfo">
          <div class="item">
            <div class="icon">
              <TimeIcon />
            </div>
            {{ storeInfo.serviceTime }}
          </div>
          <div class="item">
            <div class="icon">
              <AddressIcon />
            </div>
            <div>
              {{ storeInfo.address }}
            </div>
          </div>
        </div>
        <div class="phoneIcon">
          <Contact :number="storeInfo.phoneNumber">
            <PhoneIcon />
          </Contact>
        </div>
      </div>
    </div>

    <div class="othersInfo">
      <Navi />
      <img
        mode="aspectFill"
        class="ad"
        :src="storePictures[1]" alt="">
      <GoodsList
        :storeCode="storeCode"
        title="本店推荐" />
    </div>
  </div>
</template>

<script>
import SearchBar from '@/components/SearchBar'
import GoodsList from '@/components/GoodsList'
import AddressIcon from '@/components/Icon/AddressIcon'
import TimeIcon from '@/components/Icon/TimeIcon'
import Navi from './Navi'
import PhoneIcon from './PhoneIcon'
import api from '../../api'
import react from '../../utils/react'
import Contact from '@/components/Contact'
import { createShareConfig } from '../../utils/share'

export default {
  name: 'StoreDetail',
  components: {
    SearchBar,
    GoodsList,
    AddressIcon,
    TimeIcon,
    Navi,
    PhoneIcon,
    Contact
  },
  data () {
    return {
      storePictures: ['http://oa6ikqu54.bkt.clouddn.com/%E5%9B%BE%E5%B1%82%201251%20%E6%8B%B7%E8%B4%9D%202.png', 'http://oa6ikqu54.bkt.clouddn.com/%E5%9B%BE%E5%B1%82%201251%20%E6%8B%B7%E8%B4%9D%202.png'],
      storeInfo: {},
      storeCode: ''
    }
  },
  onLoad () {
    this.getData()
  },
  methods: {
    getData () {
      const { storeCode } = this.$root.$mp.query

      this.storeCode = storeCode

      react.showLoading()

      // TODO 添加滚播图
      api.banner.get(storeCode)

      api.store.storeHome(storeCode)
        .then(res => {
          this.storeInfo = res.storeInfo
          this.storePictures = res.storePictures

          wx.setNavigationBarTitle({
            title: this.storeInfo.name
          })
        })
        .finally(() => {
          react.hideLoading()
        })
    }
  },
  onShareAppMessage () {
    return createShareConfig(this.storeInfo.name, {
      to: 'storeDetail',
      ...this.$query
    })
  }
}
</script>

<style lang="less" scoped>
.StoreDetail {
  .searchBar {
    padding: 0 30px;
  }

  .name {
    font-size: 37px;
    color: rgb(64, 64, 64);
    font-weight: bold;

    @height: 100px;
    height: @height;
    line-height: @height;
  }

  .BigPanel {
    padding: 15px 30px 30px 30px;
  }

  .storeCover {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 241, 241);
    width: 690px;
    height: 300px;
  }

  .storeInfo {
    position: relative;
    font-size: 28px;
    color: rgb(64, 64, 64);

    .item {
      display: flex;
      align-items: center;
    }

    .icon {
      margin-right: 10px;
    }
  }

  .menu {
    display: flex;
    justify-content: space-around;
  }

  .ad {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    height: 200px;
    margin-bottom: 40px;
  }

  .othersInfo {
    padding: 0 30px;
  }

  .phoneIcon {
    position: absolute;
    right: 10px;
    top: 30px;
  }
}
</style>
