<template>
  <div :class="{
    Rate: true,
    small
  }">
    <div
      :key="item"
      v-for="item in max"
      @click="selectValue(item)"
      :class="['item', { 'active': item < currentValue }]">
    </div>
  </div>
</template>

<script>
export default {
  name: 'Rate',
  data () {
    return {
      currentValue: this.value
    }
  },
  watch: {
    value (val) {
      this.currentValue = val
    }
  },
  props: {
    value: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 5
    },
    disable: {
      type: Boolean,
      default: true
    },
    small: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    selectValue (value) {
      if (this.disable) {
        return
      }

      this.currentValue = value
      this.$emit('input', value)
      this.$emit('change', value)
      this.$emit('update', value)
    }
  }
}
</script>

<style lang="less" scoped>
@import '../../style/icon-func.less';

.Rate {
  display: flex;


  .item {
    .icon-func('../components/Rate/images/star.png');
    margin: 5px;

    &.active {
      .icon-func('../components/Rate/images/star-active.png');
    }
  }

  &.small {
    .item {
      transform: scale(.85);
    }
  }
}
</style>
