<template>
  <div class="SearchBar">
    <div class="searchPanel">

      <div class="controlBar">
        <input
          @confirm="searchByInput"
          @focus="inputFocus"
          @blur="inputBlur"
          confirm-type="search"
          :focus="focus"
          class="inputMain"
          type="text"
          v-model.trim="searchKey"
          placeholder-style="color: b0b0b0"
          placeholder="搜索你想要的">
        <div
          v-if="recommandListShow"
          @click="cancel"
          class="cancelBtn">取消</div>
        <img
          class="searchIcon"
          src="./images/icon-search.png" alt="">
      </div>

      <div
        v-if="recommandListShow"
        class="recommandList">
        <div
          v-if="historyList.length > 0"
          @click.stop="clearHistory"
          class="icon">
          <TrashIcon />
        </div>
        <div
          v-if="historyList.length > 0"
          class="history tagList">
          <div class="name">历史记录</div>
          <div
            @click="searchByKey(item)"
            class="tag"
            :key="item"
            v-for="item in historyList">
            <Btn :info="true" :text="item"></Btn>
          </div>
        </div>
        <div class="hot tagList">
          <div class="name">热门搜索</div>
          <div
            @click="searchByKey(item)"
            class="tag"
            :key="item"
            v-for="item in hotList">
            <Btn :info="true" :text="item"></Btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Tag from '@/components/Tag'
import Btn from '@/components/Button'
import TrashIcon from '../../../components/SearchBar/TrashIcon'
import history from './history'

export default {
  name: 'SearchBar',
  components: {
    Tag,
    Btn,
    TrashIcon
  },
  props: {
    storeCode: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      historyList: [],
      hotList: ['厨房收纳物品', '砧板', '筷子', '切菜板', '小茶几'],
      focus: false,
      recommandListShow: false,
      searchKey: ''
    }
  },
  onLoad () {
    this.updateHistory()

    if (this.$query.categoryId) {
      this.focus = false
      this.recommandListShow = false
    } else {
      setTimeout(() => {
        this.focus = true
      }, 1000)
    }
  },
  onShow () {
    this.updateHistory()
  },
  methods: {
    updateHistory () {
      this.historyList = history.get()
    },
    clearHistory () {
      this.historyList = []
      history.clear()
    },
    blur () {
      this.focus = false
      this.recommandListShow = false
    },
    searchByKey (key) {
      this.search(key)
    },
    searchByInput (e) {
      this.search(e.mp.detail.value)
    },
    search (searchString) {
      this.blur()
      this.searchKey = searchString

      history.save(searchString)
      this.updateHistory()
      this.$emit('search', searchString)
    },
    inputFocus () {
      this.recommandListShow = true
    },
    cancel () {
      this.blur()
    }
  }
}
</script>

<style lang="less" scoped>
.SearchBar {
  padding: 0 0 10px 0;

  .bar {
    display: flex;
    align-items: center;

    .qrcode {
      margin-right: 30px;

      .image {
        width: 54px;
        height: 54px;
      }
    }

    .cart {
      margin-left: 30px;

      .image {
        width: 52px;
        height: 51px;
      }
    }
  }
}

.searchBtn {
  flex: 1;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(242, 242, 247);
  height: 72px;
  color: #b0b0b0;
  display: flex;
  align-items: center;
  font-size: 30px;

  .image {
    margin: 0 20px;
    width: 24px;
    height: 24px;
  }
}

.searchPanel {
  padding: 0 30px 0 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #ffffff;
  z-index: 10000;

  .icon {
    position: absolute;
    right: 35px;
    top: 130px;
  }

  .controlBar {
    display: flex;
    align-items: center;
    position: relative;

    .searchIcon {
      width: 24px;
      height: 24px;
      position: absolute;
      left: 25px;
      top: 28px;
    }

    .inputMain {
      flex: 1;
      padding: 5px;
      border-radius: 10px;
      background-color: rgb(242, 242, 247);
      height: 72px;
      font-size: 30px;
      padding-left: 65px;
    }

    .cancelBtn {
      margin-left: 20px;
      font-size: 37px;
      color: rgb(64, 64, 64);
    }
  }

  .tag {
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
  }

  .name {
    margin-top: 40px;
    font-size: 34px;
    color: rgb(64, 64, 64);
    font-weight: bold;
  }

  .recommandList {
    height: 1000px;

    .tagList {
      margin-top: 30px;
    }
  }
}
</style>
