<template>
  <a :href="'/pages/contribute/main?id=' + id + '&from=me'"
    class="ContributeListItem">
    <div>
      <img
        class="image"
        mode="aspectFill"
        :src="cover" />
    </div>
    <div>
      <div class="name">{{ title }}</div>
    </div>
  </a>
</template>

<script>
export default {
  name: 'ContributeListItem',
  props: {
    title: {
      type: String,
      default: ''
    },
    pictureList: {
      type: Array,
      default: () => []
    },
    id: {
      type: Number,
      default: 0
    }
  },
  computed: {
    cover () {
      if (this.pictureList[0]) {
        return this.pictureList[0].pictureUrl
      } else {
        return ''
      }
    }
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.ContributeListItem {
  display: block;
  margin: 15px;

  .name {
    margin-top: 10px;
    font-size: 30px;
    color: rgb(64, 64, 64);
  }

  .image {
    border-radius: 15px;
    width: 100%;
    height: 250px;
    background: #eee;
  }
}
</style>
