<template>
  <div class="ContributeList">
    <div class="content">
      <Loadmore v-if="contributions.length === 0"></Loadmore>
      <div
        :key="item"
        v-for="item in contributions">
        <ContributeListItem
          :title="item.matchWorks.worksTitle"
          :pictureList="item.pictureList"
          :id="item.matchWorks.id" />
      </div>
    </div>
  </div>
</template>

<script>
import ContributeListItem from './ContributeListItem'
import react from '../../utils/react'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'ContributeList',
  components: {
    ContributeListItem,
    Loadmore
  },
  data () {
    return {
      contributions: []
    }
  },
  onLoad () {
    this.getContributions()
  },
  onShow () {
    this.getContributions()
  },
  methods: {
    getContributions () {
      react.showLoading()

      this.$api.matchworks
        .getUserContribution({
          current: 1,
          size: 100
        }).then(res => {
          this.contributions = res.records
        })
        .finally(() => {
          react.hideLoading()
        })
    }
  }
}
</script>

<style lang="less" scoped>
.ContributeList {
  padding: 15px;

  .title, .nomore {
    font-size: 30px;
    text-align: center;
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    & > div {
      width: 50%;
    }
  }
}
</style>
