<template>
  <div class="AddressManager">
    <MyAddressList ref="MyAddressList" />
  </div>
</template>

<script>
import MyAddressList from '@/components/MyAddressList'

export default {
  name: 'AddressManager',
  components: {
    MyAddressList
  },
  onShow () {
    if (this.$refs.MyAddressList) {
      this.$refs.MyAddressList.getData()
    }
  },
  onPullDownRefresh () {
    this.$refs.MyAddressList
      .reload()
      .then(() => {
        wx.stopPullDownRefresh()
      })
  },
  methods: {
  }
}
</script>
