<template>
  <div class="Contributes">
    <div class="content">
      <Contribute
        v-for="contribute in contributes"
        :key="contribute.id"
        :coverUrls="contribute.pictureList"
        :vote="contribute.matchWorks.vote"
        :workId="contribute.matchWorks.id"
        :status="contribute.customerVoteStatus" />
      <Loadmore v-if="contributes.length === 0"></Loadmore>
    </div>
  </div>
</template>

<script>
import Contribute from './Contribute'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'Contributes',
  components: {
    Contribute,
    Loadmore
  },
  props: {
    contributes: {
      type: Array,
      default: () => []
    },
    matchId: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      contributes: []
    }
  },
  onLoad () {
    this.$api.designmatch
      .getOne(this.matchId)
      .then(res => {
        this.$emit('loadList', {list: res.matchWorksInfoRespDtoList})
      })
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Contributes {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
}
</style>
