<template>
  <div class="Contribute">
    <a :href="'/pages/contribute/main?id=' + workId + '&canVote=' + canVote + '&from=match'">
      <img
        class="image"
        mode="aspectFill"
        :src="imageUrl" />
    </a>
    <div class="info">
      <div class="viewIcon"></div>
      <div class="view">{{ voteNum }}</div>
      <div
        @click="btnFunc"
        class="vote">{{ btnText }}
      </div>
    </div>
  </div>
</template>

<script>
import react from '@/utils/react'

export default {
  name: 'Contribute',
  props: {
    matchId: {
      type: Number,
      default: 0
    },
    workId: {
      type: Number,
      default: 0
    },
    coverUrls: {
      type: Array,
      default: () => []
    },
    vote: {
      type: Number,
      default: 0
    },
    status: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    imageUrl () {
      if (this.coverUrls[0]) {
        return this.coverUrls[0].pictureUrl
      } else {
        return ''
      }
    }
  },
  data () {
    return {
      canVote: true,
      btnText: '投票',
      voteNum: 0
    }
  },
  onLoad () {
    this.canVote = this.status
    this.voteNum = this.vote
    this.btnText = this.canVote ? '投票' : '已投票'
  },
  methods: {
    performVote () {
      return this.$api.matchworks
        .vote(this.workId)
        .then(() => {
          this.voteNum++
          react.showToast({
            title: '投票成功',
            icon: 'success'
          })
        })
    },
    btnFunc () {
      if (!this.canVote) {
        react.showToast('您已投票')
      } else {
        this.performVote().then(() => {
          this.btnText = '已投票'
          this.canVote = false
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
.Contribute {
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 30px;

  &:nth-child(2n+1) {
    padding-right: 15px;
  }

  &:nth-child(2n) {
    padding-left: 15px;
  }

  .image {
    border-radius: 10px;
    background-color: #eee;
    width: 100%;
    height: 230px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .view {
    font-size: 24px;
    color: rgb(64, 64, 64);
    margin-left: 10px;
  }

  .viewIcon {
    background: url('./images/top.png') no-repeat;
    background-size: 100%;
    width: image-width('./images/top.png');
    height: image-height('./images/top.png');
  }

  .vote {
    margin-left: auto;
    background: -webkit-linear-gradient(left, rgb(208,157,116) 0%,rgb(190,135,91) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(208,157,116) 0%,rgb(190,135,91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    font-size: 22px;
    color: rgb(255, 255, 255);
  }
}
</style>
