<template>
  <div class="Desc">
    <rich-text :nodes="intro" />
  </div>
</template>

<script>
export default {
  name: 'Desc',
  data () {
    return {}
  },
  props: {
    intro: {
      type: String,
      default: ''
    }
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Desc {}
</style>
