<template>
  <div class="Join">
    <div class="block"></div>
    <div class="">
      <div class="formTitle">作品标题</div>
      <input
        v-model.trim="form.name"
        type="text"
        class="input"
        placeholder="请输入作品标题">
    </div>
    <div>
      <div class="formTitle">上传作品</div>
      <div>
        <UploadImage
          ref="UploadImage"
          @update="uploadImageUpdate" />
      </div>
    </div>
    <div>
      <div class="formTitle">作品简介</div>
      <textarea
        class="textarea"
        v-model.trim="form.desc"
        placeholder="请输入作品简介，500字内" />
    </div>
    <div class="mainButton">
      <MainButton @click="check">提交</MainButton>
    </div>
  </div>
</template>

<script>
import MainButton from '@/components/MainButton'
import UploadImage from '@/components/UploadImage'
import react from '../../utils/react'

export default {
  name: 'Join',
  components: {
    UploadImage,
    MainButton
  },
  props: {
    matchId: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      form: {
        name: '',
        images: [],
        desc: ''
      }
    }
  },
  methods: {
    uploadImageUpdate (urls) {
      this.form.images = urls
    },
    check () {
      const { name, images, desc } = this.form

      if (
        name.length === 0 ||
        name.length >= 25
      ) {
        react.showToast('标题不能为空或超过25字')
        return
      }

      if (images.length === 0) {
        react.showToast('请上传图片')
        return
      }

      if (
        desc.length === 0 ||
        desc.length >= 500
      ) {
        react.showToast('简介不能为空或超过500字')
        return
      }

      this.submit()
    },
    submit () {
      const pictureList = this.form.images.map((url, index) => {
        return {
          mainPicture: index,
          pictureUrl: url
        }
      })

      let pkg = {
        matchWorks: {
          id: 0,
          matchId: this.matchId,
          vote: 0,
          worksTitle: this.form.name,
          introduction: this.form.desc
        },
        pictureList
      }
      this.$api.matchworks
        .addWork(pkg)
        .then(() => {
          react.showToast({
            title: '上传成功',
            icon: 'success',
            success: () => {
              this.$emit('submit')
              this.form = {
                name: '',
                desc: ''
              }
              this.$refs.UploadImage.empty()
            }
          })
        })
    }
  }
}
</script>

<style lang="less" scoped>
.Join {
  position: relative;
  padding-bottom: 20px;
  overflow: hidden;

  .textarea {
    position: relative;
    z-index: 1;
  }

  .mainButton {
    margin-top: 20px;
  }

  .block {
    margin-left: -50px;
    width: 800px;
    height: 20px;
    background-color: #f7f7fa;
  }
}
</style>
