<template>
  <div class="Match">
    <div class="cover">
      <img
        class="image"
        mode="aspectFill"
        :src="coverUrl" />
    </div>
    <div class="tabs">
      <Tab
        @select="select"
        :labels="labels" />
    </div>
    <div>
      <Desc
        v-if="tabIndex === 0"
        :intro="intro" />
      <Contributes
        @loadList="loadList"
        v-else-if="tabIndex === 1"
        :matchId="matchId"
        :contributes="contributes"/>
      <Join
        v-else
        :matchId="matchId"
        v-on:submit="getData" />
    </div>
  </div>
</template>

<script>
import Tab from '@/components/Tab'
import Desc from './Desc'
import Contributes from './Contributes'
import Join from './Join'
import { createShareConfig } from '../../utils/share'
import react from '../../utils/react'

export default {
  name: 'Match',
  components: {
    Join,
    Tab,
    Desc,
    Contributes
  },
  data () {
    return {
      tabIndex: 0,
      labels: ['大赛介绍', '参赛作品', '我要参赛'],
      intro: '',
      coverUrl: '',
      matchId: 0,
      contributes: []
    }
  },
  onLoad () {
    this.getData()
  },
  onShow () {
    this.getData()
  },
  methods: {
    loadList (pval) {
      this.contributes = pval.list
    },
    select ({ index }) {
      this.tabIndex = index
    },
    async getData () {
      const { id } = this.$root.$mp.query

      react.showLoading()

      try {
        const res = await this.$api.designmatch.getOne(id)

        this.intro = res.designMatch.introduction
        this.coverUrl = res.designMatch.coverUrl
        this.matchId = res.designMatch.id
        this.contributes = res.matchWorksInfoRespDtoList
        this.title = res.designMatch.title

        wx.setNavigationBarTitle({
          title: this.title
        })
      } finally {
        react.hideLoading()
      }
    }
  },
  onShareAppMessage () {
    return createShareConfig(this.title, {
      to: 'match',
      ...this.$query
    })
  }
}
</script>

<style lang="less" scoped>
.Match {
  padding: 0 30px;

  .tabs {
    margin: 20px 0 15px 0;
  }

  .cover {
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    width: 690px;
    height: 400px;

    .image {
      width: 100%;
    }
  }
}
</style>
