<template>
  <div class="Card">
    <a :href="href" class="Item">
      <div>
        <img
          class="cover"
          :src="data.mainPictureUrl"
          mode="aspectFill" />
      </div>
      <div class="textInfo">
        <div class="name">
          <div>{{ data.name }}</div>
        </div>
        <div class="time">
          <div class="icon">
            <TimeIcon />
          </div>
          <div class="text">{{ data.serviceTime }}</div>
        </div>
        <div class="address">
          <div class="icon">
            <AddressIcon />
          </div>
          <div class="text">{{ data.address }}</div>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
import Card from '@/components/Card'
import AddressIcon from '@/components/Icon/AddressIcon'
import TimeIcon from '@/components/Icon/TimeIcon'

export default {
  name: 'Item',
  components: {
    Card,
    AddressIcon,
    TimeIcon
  },
  computed: {
    href () {
      return `/pages/storeDetail/main?storeCode=${this.data.code}`
    }
  },
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style>
page {
  background: #F2F2F7;
}
</style>

<style lang="less" scoped>
.Item {
  display: flex;
  padding: 30px 20px;

  .textInfo {
    margin-left: 30px;
  }

  .cover {
    border-radius: 10px;
    background-color: rgb(0, 7, 9);
    width: 230px;
    height: 230px;
  }

  .name {
    font-size: 37px;
    color: rgb(64, 64, 64);
    margin-bottom: 50px;
  }

  .time {
    display: flex;
    align-items: center;
    font-size: 28px;
    color: rgb(72, 72, 72);

    .text {
    }
  }

  .address {
    display: flex;
    font-size: 28px;
    align-items: flex-start;
    color: rgb(72, 72, 72);

    .text {
      flex: 1;
    }
  }

  .icon {
    margin-right: 10px;
  }
}
</style>
