<template>
  <div class="StoreList">
    <div class="selectRegion">
    <picker
        mode="selector"
        :array="regions"
        @change="bindRegionChange"
        :value="index"
        :range="regions">
        <div class="picker">
          <div>
            {{ cityList[region].cityName }}
          </div>
          <div class="arrow"></div>
        </div>
      </picker>
    </div>
    <div>
      <Item
        :data="record"
        :key="record"
        v-for="record in nearbyStore.records" />
      <Loadmore v-if="nearbyStore.records.length === 0"></Loadmore>
    </div>
  </div>
</template>

<script>
import Loadmore from '@/components/Loadmore'
import Item from './Item'
import api from '../../api'
import react from '../../utils/react'

export default {
  name: 'StoreList',
  components: {
    Item,
    Loadmore
  },
  computed: {
    regions () {
      return this.cityList.map(item => item.cityName)
    }
  },
  data () {
    return {
      cityList: [{
        cityName: ''
      }],
      index: 0,
      region: 0,
      nearbyStore: {
        records: []
      }
    }
  },
  onLoad () {
    this.getData()
  },
  methods: {
    bindRegionChange (e) {
      this.region = e.mp.detail.value
    },
    getData () {
      react.showLoading()
      api.store.nearbyStore()
        .then(res => {
          this.nearbyStore = res.nearbyStore
          this.cityList = res.cityList
        })
        .finally(() => {
          react.hideLoading()
        })
    }
  }
}
</script>

<style lang="less" scoped>
.StoreList {
}

.arrow {
  background: url('../../images/icon/arrow.png') center center no-repeat;
  background-size: 100%;
  width: 30px;
  height: 15px;
  margin-left: 10px;
}

.selectRegion {
  margin: 40px 0;
  padding-left: 30px;

  .picker {
    font-size: 30px;
    color: rgb(64, 64, 64);
    display: flex;
    align-items: center;
  }
}
</style>
