<template>
  <div class="container">
    <div>
      <SearchBar
        :placeholder="true"
        :storeCode="flagshipStore.code" />
    </div>
    <div class="swiperWrap">

      <swiper class="swiper" indicator-dots="true">
        <swiper-item
          :key="img"
          v-for="img in imgUrls">
          <a href="/pages/goodsDetail/main?id=CCODE1&storeCode=SCODE1">
              <div class="imageWrap">
                <img
                  :src="img"
                  mode="aspectFill" />
              </div>
          </a>
        </swiper-item>

      </swiper>

    </div>
    <Navi />
    <div>
      <GoodsList :storeCode="flagshipStore.code" />
    </div>
  </div>
</template>

<script>
import SearchBar from '@/components/SearchBar'
import GoodsList from '@/components/GoodsList'
import Navi from './Navi'
import api from '../../api'
import share from '../../utils/share'

export default {
  data () {
    return {
      imgUrls: [
        'http://oa6ikqu54.bkt.clouddn.com/%E5%9B%BE%E5%B1%82%201251%20%E6%8B%B7%E8%B4%9D%202.png'
      ]
    }
  },
  components: {
    SearchBar,
    GoodsList,
    Navi
  },
  computed: {
    flagshipStore () {
      return this.$store.state.global.flagshipStore
    }
  },
  async onLoad () {
    await this.$store.dispatch('global/getFlagshipStore')

    const res = await api.banner.get(this.flagshipStore.code)

    this.imgUrls = res.map(item => item.coverUrl)
  },
  ...share('味家商城', {
    to: 'index'
  })
}
</script>

<style lang="less" scoped>
.container {
  padding: 0 30px;
}

.swiperWrap {
  border-radius: 10px;
  overflow: hidden;
  margin: 5px 0;
}

.swiper {
  width: 100%;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
  }

  .imageWrap {
    overflow: hidden;
    width: 100%;
    height: 300px;
  }
}
</style>
