<template>
  <div class="Navi">
    <a class="item" href="/pages/storeList/main">
      <img
        class="image"
        src="./images/icon-index-store.png" alt="">
      <div class="name">
        身边门店
      </div>
    </a>
    <a class="item" href="/pages/couponCenter/main?type=all">
      <img
        class="image"
        src="./images/icon-index-coupon.png" alt="">
      <div class="name">
        领劵中心
      </div>
    </a>
    <a class="item" href="/pages/discover/main">
      <img
        class="image"
        src="./images/icon-index-recover.png" alt="">
      <div class="name">
        发现
      </div>
    </a>
    <a class="item" href="/pages/diy/main">
      <img
        class="image"
        src="./images/icon-index-diy.png" alt="">
      <div class="name">
        DIY
      </div>
    </a>
  </div>
</template>

<script>
export default {
  name: 'Navi',
  props: {
    href: String,
    icon: String
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Navi {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 25px 0;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;

    .image {
      width: 85px;
      height: 85px;
    }

    .name {
      height: 50px;
      line-height: 50px;
      font-size: 28px;
      color: #8c001b;
    }
  }
}
</style>
