<template>
  <div class="container">
    <Loadmore v-if="records.length === 0"></Loadmore>
    <ListItem
      :key="item.id"
      v-for="item in records"
      :title="item.title"
      :href="'/pages/match/main?id=' + item.id + '&title=' + item.title"
      :view="item.view"
      :desc="'大赛时间： ' + item.startTime + ' ~ ' + item.endTime"
      :coverPic="item.coverUrl" />
  </div>
</template>

<script>
import ListItem from '@/components/ListItem'
import datetime from '@/utils/datetime'
import Loadmore from '@/components/Loadmore'
import react from '@/utils/react'

export default {
  components: {
    ListItem,
    Loadmore
  },
  data () {
    return {
      current: 0,
      size: 6,
      pages: 0,
      records: []
    }
  },
  onLoad () {
    this.loadMore()
  },
  onPullDownRefresh () {
    this.reload()
  },
  onReachBottom () {
    if (this.current <= this.pages) {
      this.loadMore()
    }
  },
  methods: {
    loadMore () {
      this.current++
      this.loadData().then(this.fillData)
    },
    loadData () {
      return this.$api.designmatch
        .getList({
          current: this.current,
          size: this.size
        })
    },
    fillData (res) {
      this.pages = res.pages

      res.records.forEach(item => {
        item.startTime = datetime(item.startTime, 'date')
        item.endTime = datetime(item.endTime, 'date')
      })

      this.records = [
        ...this.records,
        ...res.records
      ]
      return res
    },
    reload () {
      this.current = 1
      wx.showNavigationBarLoading()

      return this
        .loadData()
        .then(res => {
          this.records = []

          react.showToast({
            title: '刷新成功',
            icon: 'none'
          })

          return res
        })
        .then(this.fillData)
        .finally(() => {
          wx.hideNavigationBarLoading()
        })
    }
  }
}
</script>

<style>
page {
  background: #F2F2F7;
}
</style>
