<template>
  <div class="Filter">
    <div
      :class="{ colorRed: all }"
      @click="setAll">全部
    </div>
    <!-- <div>
      <picker
        @change="styleUpdate"
        :value="style"
        :range="[1, 3, 4, 5]">
        <div :class="{ colorRed: style !== '' }">
          风格
        </div>
      </picker>
    </div> -->
    <Trigger
      @update="countUpdate"
      v-model="countTrigger"
      label="销量" />
    <Trigger
      @update="priceUpdate"
      v-model="priceTrigger"
      label="价格" />
  </div>
</template>

<script>
import Trigger from './Trigger'
import StyleList from './StyleList'

export default {
  name: 'Filter',
  components: {
    Trigger,
    StyleList
  },
  computed: {
    all () {
      return (
        !this.style &&
        this.countTrigger === 'normal' &&
        this.priceTrigger === 'normal'
      )
    }
  },
  data () {
    return {
      style: '',
      countTrigger: 'normal',
      priceTrigger: 'normal'
    }
  },
  methods: {
    reset () {
      this.style = ''
      this.countTrigger = 'normal'
      this.priceTrigger = 'normal'
    },
    setAll () {
      this.reset()
      this.emitFilter()
    },
    priceUpdate () {
      this.countTrigger = 'normal'
      this.emitFilter()
    },
    countUpdate () {
      this.priceTrigger = 'normal'
      this.emitFilter()
    },
    styleUpdate (e) {
      this.style = e.mp.detail.value
      this.emitFilter()
    },
    emitFilter () {
      // 1:销量降序 2:销量升序 3:价格升序 4:价格降序
      let sortType = -1

      if (this.countTrigger === 'down') {
        sortType = 1
      }
      if (this.countTrigger === 'up') {
        sortType = 2
      }

      if (this.priceTrigger === 'down') {
        sortType = 3
      }

      if (this.priceTrigger === 'up') {
        sortType = 4
      }

      this.$emit('update', sortType)
    }
  }
}
</script>

<style lang="less" scoped>
.Filter {
  height: 90px;
  display: flex;
  justify-content: space-around;
  background: #F2F2F7;
  font-size: 30px;
  align-items: center;
  color: rgb(64, 64, 64);

  .trigger {}
}
</style>
