<template>
  <div class="StyleList">
    StyleList
  </div>
</template>

<script>
export default {
  name: 'StyleList',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.StyleList {}
</style>
