<template>
  <div
    @click="updateStatus"
    class="Trigger"
    :class="triggerClass">
    <div>{{ label }}</div>
    <div
      :class="[
        'icon',
        iconStatusClass
      ]">
    </div>
  </div>
</template>

<script>
import STATUS from './STATUS'

const statusFlux = [
  STATUS.NORMAL,
  STATUS.DOWN,
  STATUS.UP
]

export default {
  name: 'Trigger',
  computed: {
    iconStatusClass () {
      return this.status
    },
    triggerClass () {
      return (this.status === STATUS.UP || this.status === STATUS.DOWN) ? 'colorRed' : ''
    }
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    }
  },
  watch: {
    value (val) {
      if (this.status !== val) {
        this.status = val
        this.statusFlag = 0
      }
    }
  },
  data () {
    return {
      status: STATUS.NORMAL,
      statusFlag: 0
    }
  },
  methods: {
    updateStatus () {
      this.statusFlag++
      this.status = statusFlux[this.statusFlag % 3]

      this.$emit('input', this.status)
      this.$emit('update', this.status)
    }
  }
}
</script>

<style lang="less" scoped>
.Trigger {
  display: flex;
  align-items: center;

  .icon {
    margin-left: 10px;
    @icon: './images/trigger.png';
    background-size: image-size(@icon) !important;
    width: image-width(@icon);
    height: image-height(@icon);

    &.normal {
      background: url(@icon) no-repeat;
    }

    &.up {
      background: url('./images/trigger-up.png') no-repeat;
    }

    &.down {
      background: url('./images/trigger-down.png') no-repeat;
    }
  }
}
</style>
