<template>
  <div class="addressIcon"></div>
</template>

<script>
export default {
  name: 'addressIcon',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.addressIcon {
  background: url('./images/location.png') center center no-repeat;
  background-size: 100% auto;
  width: image-width('./images/location.png');
  height: image-height('./images/location.png') + 10px;
}
</style>
