<template>
  <div class="ArrowIcon"></div>
</template>

<script>
export default {
  name: 'ArrowIcon',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
@import '../../style/icon-func.less';

.ArrowIcon {
  .icon-func('../components/Icon/images/arrow.png');
}
</style>
