<template>
  <div
    @click="click"
    class="CartIcon" />
</template>

<script>
import navigate from '../../utils/navigate'

export default {
  name: 'CartIcon',
  props: {
    storeCode: {
      type: String,
      default: ''
    }
  },
  computed: {
    href () {
      if (this.storeCode) {
        return '/pages/cart/main?storeCode=' + this.storeCode
      } else {
        return ''
      }
    }
  },
  methods: {
    click (e) {
      this.$emit('click', e)

      if (this.href) {
        navigate.to(this.href)
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import '../../style/icon-func.less';

.CartIcon {
  .icon-func('../components/Icon/images/cart.png');
  display: block;
}
</style>
