<template>
  <div
    @click="click"
    class="CartIcon2" />
</template>

<script>
export default {
  name: 'CartIcon2',
  methods: {
    click (e) {
      this.$emit('click', e)
    }
  }
}
</script>

<style lang="less" scoped>
@import '../../style/icon-func.less';

.CartIcon2 {
  .icon-func('../components/Icon/images/cart2.png');
  display: block;
}
</style>
