<template>
  <div class="fav" @click="toggle">
    <div
      :class="['FavoriteIcon', { 'active': isCollected }]">
    </div>
    <div class="name">
      {{ label }}
    </div>
  </div>
</template>

<script>

export default {
  name: 'FavoriteIcon',
  props: {
    isCollected: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    }
  },
  data: {
    status: false
  },
  onLoad () {
    this.status = this.isCollected
  },
  methods: {
    toggle () {
      this.setCurrentVal(!this.status)
    },
    setCurrentVal (val) {
      if (val === this.status) return
      this.status = val
      this.$emit('toggle', this.status)
    }
  }
}
</script>

<style lang="less" scoped>
@import '../../style/icon-func.less';

.FavoriteIcon {
  .icon-func('../components/Icon/images/star.png');
  margin: 5px;

  &.active {
    .icon-func('../components/Icon/images/star-active.png');
  }
}

.name {
  color: #b0b0b0;
  font-size: 30px;
}

.fav {
  align-items: center;
  display: inline-flex
}
</style>
