<template>
  <div class="PhoneIcon"></div>
</template>

<script>
export default {
  name: 'PhoneIcon',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
@import '../../style/icon-func.less';

.PhoneIcon {
  .icon-func('../components/Icon/images/phone.png');
}
</style>
