<template>
  <div class="TimeIcon"></div>
</template>

<script>
export default {
  name: 'TimeIcon',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
@import '../../style/icon-func.less';

.TimeIcon {
  .icon-func('../components/Icon/images/clock.png');
}
</style>
