<template>
  <div class="StoreCoupon">
    <Coupon
      :key="coupon"
      :categoryList="coupon.categoryList"
      :store="coupon.store.name"
      :info="coupon.coupon"
      :isReceived="coupon.isReceived"
      v-for="coupon in coupons" />
    <Loadmore v-if="coupons.length === 0"></Loadmore>
    <MainLink href="/pages/myCoupon/main">
      我的优惠券
    </MainLink>
  </div>
</template>

<script>
import Coupon from '@/components/Coupon'
import Loadmore from '@/components/Loadmore'
import MainLink from '@/components/MainLink'
import react from '../../utils/react'

export default {
  name: 'StoreCoupon',
  components: {
    Coupon,
    MainLink,
    Loadmore
  },
  data () {
    return {
      coupons: []
    }
  },
  onLoad () {
    const { storeCode } = this.$root.$mp.query

    this.getData(storeCode)
  },
  methods: {
    getData (code) {
      react.showLoading()

      this.$api.coupon
        .store(code)
        .then(res => {
          this.coupons = res
        })
        .finally(() => {
          react.hideLoading()
        })
    }
  }
}
</script>

<style lang="less" scoped>
.StoreCoupon {
  padding-bottom: 120px;
}
</style>
