<template>
  <div class="Evaluate">
    <div class="goodsInfo">
      <img
        class="coverImage"
        :src="info.commodityPicUrl" />
      <div>
        <div class="title">商品评分</div>
        <div class="rate">
          <Rate
            v-model="form.rate"
            :disable="false" />
        </div>
      </div>
    </div>
    <div>
      <div class="formTitle">购买心得</div>
      <textarea
        class="textarea"
        v-model="form.experience"
        placeholder="分享你的购买心得" />
    </div>
    <div>
      <div class="formTitle">照片</div>
      <UploadImage
        :limit="6"
        @update="uploadImageUpdate" />
    </div>
    <div class="fixedBottom">
      <MainButton @click="ok">提交</MainButton>
    </div>
  </div>
</template>

<script>
import Rate from '@/components/Rate'
import MainButton from '@/components/MainButton'
import UploadImage from '@/components/UploadImage'
import react from '../../utils/react'
import navigate from '../../utils/navigate'

export default {
  name: 'Evaluate',
  components: {
    Rate,
    MainButton,
    UploadImage
  },
  data () {
    return {
      form: {
        childCode: '',
        experience: '',
        pictureUrlList: [],
        rate: 0
      },
      images: [],
      textareaValue: '',
      info: {
        commodityPicUrl: ''
      }
    }
  },
  onLoad () {
    Object.assign(this.info, this.$query)

    this.form.childCode = this.$query.childCode
  },
  methods: {
    uploadImageUpdate (urls) {
      this.form.pictureUrlList = urls
    },
    async ok () {
      react.showLoading('提交中...')

      if (this.form.rate === 0) {
        react.showToast('请评分')
        return
      }

      await this.$api.evaluation.create(this.form)

      react.hideLoading()
      react.showToast('评价成功')

      setTimeout(() => {
        navigate.back()
      }, 1000)
    }
  }
}
</script>

<style lang="less" scoped>
.Evaluate {
  background: white;
  padding: 30px;
}

.goodsInfo {
  display: flex;

  .coverImage {
    background-color: rgb(0, 7, 9);
    width: 140px;
    height: 140px;
    margin-right: 20px;
  }

  .title {
    font-size: 34px;
    color: rgb(64, 64, 64);
  }

  .rate {
    margin-top: 20px;
  }
}

.imageList {
  display: flex;

  .image {
    width: 100px;
    height: 100px;
  }
}
</style>

<style>
page {
  background: #F2F2F7;
}
</style>
