<template>
  <div class="SearchBar">
    <div class="bar">
      <div
        v-if="hasCode"
        class="qrcode"
        @click="qrcode">
        <img
          class="image"
          src="./images/icon-qrcode.png" alt="">
      </div>
      <div
        @click="showSeachPanel"
        class="searchBtn">
        <img
          class="image"
          src="./images/icon-search.png" alt="">
        {{ searchKey || '搜索你想要的' }}
      </div>
      <a
        v-if="hasCart"
        class="cart"
        :href="'/pages/cart/main?storeCode=' + storeCode">
        <img
          class="image"
          src="./images/icon-cart.png" alt="">
      </a>
    </div>

    <div v-if="!hide" class="searchPanel">
      <div class="controlBar">
        <input
          @confirm="searchByInput"
          confirm-type="search"
          :focus="focus"
          class="inputMain"
          type="text"
          v-model="searchKey"
          placeholder-style="color: b0b0b0"
          placeholder="搜索你想要的">
        <div @click="cancel" class="cancelBtn">取消</div>
        <img
          class="searchIcon"
          src="./images/icon-search.png" alt="">
      </div>
      <div class="recommandList">
        <div
          v-if="historyList.length > 0"
          @click.stop="clearHistory"
          class="icon">
          <TrashIcon />
        </div>
        <div
          v-if="historyList.length > 0"
          class="history tagList">
          <div class="name">历史记录</div>
          <div
            @click="searchByKey(item)"
            class="tag"
            :key="item"
            v-for="item in historyList">
            <Btn :info="true" :text="item"></Btn>
          </div>
        </div>
        <div class="hot tagList">
          <div class="name">热门搜索</div>
          <div
            @click="searchByKey(item)"
            class="tag"
            :key="item"
            v-for="item in hotList">
            <Btn :info="true" :text="item"></Btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Tag from '../Tag'
import navigate from '../../utils/navigate'
import Btn from '@/components/Button'
import TrashIcon from './TrashIcon'
import history from './history'

export default {
  name: 'SearchBar',
  components: {
    Tag,
    Btn,
    TrashIcon
  },
  props: {
    placeholder: {
      type: Boolean,
      default: false
    },
    newPage: {
      type: Boolean,
      default: true
    },
    storeCode: {
      type: String,
      default: ''
    },
    hasCode: {
      type: Boolean,
      default: true
    },
    hasCart: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      historyList: [],
      hotList: ['厨房收纳物品', '砧板', '筷子', '切菜板', '小茶几'],
      hide: true,
      focus: false,
      searchKey: ''
    }
  },
  onLoad () {
    this.updateHistory()

    if (this.$query.autoShow === 'true') {
      this.hide = false

      setTimeout(() => {
        this.focus = true
      }, 1000)
    }
  },
  onShow () {
    this.updateHistory()
  },
  methods: {
    updateHistory () {
      this.historyList = history.get()
    },
    clearHistory () {
      this.historyList = []
      history.clear()
    },
    qrcode () {
      navigate.to(`/pages/qrcode/main`)
    },
    blur () {
      this.focus = false
      this.hide = true
    },
    searchByKey (key) {
      this.search(key)
    },
    searchByInput (e) {
      this.search(e.mp.detail.value)
    },
    search (searchString) {
      this.blur()

      history.save(searchString)
      this.updateHistory()
      this.$emit('search', searchString)
    },
    cancel () {
      this.blur()
    },
    showSeachPanel () {
      if (this.placeholder) {
        navigate.to(`/pages/search/main?storeCode=${this.storeCode}&autoShow=true`)
      } else {
        this.hide = false
        this.focus = true
      }
    }
  }
}
</script>

<style lang="less" scoped>
.SearchBar {
  padding: 0 0 10px 0;

  .bar {
    display: flex;
    align-items: center;

    .qrcode {
      margin-right: 30px;

      .image {
        width: 54px;
        height: 54px;
      }
    }

    .cart {
      margin-left: 30px;

      .image {
        width: 52px;
        height: 51px;
      }
    }
  }
}

.searchBtn {
  flex: 1;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(242, 242, 247);
  height: 72px;
  color: #b0b0b0;
  display: flex;
  align-items: center;
  font-size: 30px;

  .image {
    margin: 0 20px;
    width: 24px;
    height: 24px;
  }
}

.searchPanel {
  padding: 0 30px 0 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 10000;

  .icon {
    position: absolute;
    right: 35px;
    top: 130px;
  }

  .controlBar {
    display: flex;
    align-items: center;
    position: relative;

    .searchIcon {
      width: 24px;
      height: 24px;
      position: absolute;
      left: 25px;
      top: 28px;
    }

    .inputMain {
      flex: 1;
      padding: 5px;
      border-radius: 10px;
      background-color: rgb(242, 242, 247);
      height: 72px;
      color: #b0b0b0;
      font-size: 30px;
      padding-left: 65px;
    }

    .cancelBtn {
      margin-left: 20px;
      font-size: 37px;
      color: rgb(64, 64, 64);
    }
  }

  .tag {
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
  }

  .name {
    margin-top: 40px;
    font-size: 34px;
    color: rgb(64, 64, 64);
    font-weight: bold;
  }

  .recommandList {
    .tagList {
      margin-top: 30px;
    }
  }
}
</style>
