<template>
  <div class="TrashIcon"></div>
</template>

<script>
export default {
  name: 'TrashIcon',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
@import '../../style/icon-func.less';

.TrashIcon {
  .icon-func('../components/SearchBar/images/trash.png');
}
</style>
