<template>
  <Card>
    <div class="ContributeAndAddress cells">
      <a href="/pages/myContribute/main" class="cell">
        <div>我的投稿</div>
        <div class="arrow"></div>
      </a>
      <Divider />
      <a href="/pages/addressManager/main" class="cell">
        <div>地址管理</div>
        <div class="arrow"></div>
      </a>
    </div>
  </Card>
</template>

<script>
import Card from '@/components/Card'
import Divider from '@/components/Divider'

export default {
  name: 'ContributeAndAddress',
  components: {
    Card,
    Divider
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.ContributeAndAddress {
  &.cells {
    font-size: 30px;
    color: rgb(64, 64, 64);

    .cell {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .arrow {
      background: url('./images/icon-arrow.png') center center no-repeat;
      background-size: auto 100%;
      width: 30px;
      height: 30px;
    }
  }
}
</style>
