<template>
  <div class="Card">
    <div class="CouponAndFavorite">
      <a class="link" href="/pages/myCoupon/main">
        <div class="amount">
          {{ couponTotal }}
        </div>
        <div class="name">优惠券</div>
      </a>
      <a class="link" href="/pages/favorites/main">
        <div class="amount">
          {{ favoriteTotal }}
        </div>
        <div class="name">收藏</div>
      </a>
    </div>
  </div>
</template>

<script>
import Card from '@/components/Card'
import api from '../../api'

export default {
  name: 'CouponAndFavorite',
  components: {
    Card
  },
  data () {
    return {
      favoriteTotal: 0,
      couponTotal: 0
    }
  },
  onShow () {
    this.getData()
  },
  onLoad () {
    this.getData()
  },
  methods: {
    getData () {
      api.coupon
        .my(0)
        .then(res => {
          this.couponTotal = res.length
        })

      api.collection
        .count()
        .then(res => {
          this.favoriteTotal = res.total
        })
    }
  }
}
</script>

<style lang="less" scoped>
.CouponAndFavorite {
  display: flex;
  text-align: center;
  padding: 30px 0 !important;

  .name {
    font-size: 24px;
    color: rgb(176, 176, 176);
  }

  .amount {
    font-size: 40px;
    color: rgb(64, 64, 64);
    font-weight: bold;
  }

  .link {
    width: 50%;

    &:last-child {
      border-left: 2px solid #e8e8e8;
    }
  }
}
</style>
