<template>
  <Card>
    <div class="panel myOrder">
      <div class="head">
        <div class="title">我的订单</div>
        <a class="all" href="/pages/myOrder/main?status=-1">
          查看全部
        </a>
      </div>
      <Divider />
      <div class="menu">
        <a class="link" href="/pages/myOrder/main?status=0">
          <img class="icon" src="./images/icon-user-1.png" />
          <div class="name">待付款</div>
        </a>
        <a class="link" href="/pages/myOrder/main?status=1">
          <img class="icon" src="./images/icon-user-2.png" />
          <div class="name">待发货</div>
        </a>
        <a class="link" href="/pages/myOrder/main?status=2">
          <img class="icon" src="./images/icon-user-3.png" />
          <div class="name">待收货</div>
        </a>
        <a class="link" href="/pages/myOrder/main?status=3">
          <img class="icon" src="./images/icon-user-4.png" />
          <div class="name">评价</div>
        </a>
        <a class="link" href="/pages/myOrder/main?status=4">
          <img class="icon" src="./images/icon-user-5.png" />
          <div class="name">退款/货</div>
        </a>
      </div>
    </div>
  </Card>
</template>

<script>
import Card from '@/components/Card'
import Divider from '@/components/Divider'

export default {
  name: 'OrderCard',
  components: {
    Card,
    Divider
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.myOrder {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
  }

  .title {
    font-size: 30px;
    color: rgb(64, 64, 64);
  }

  .all {
    font-size: 24px;
    color: rgb(176, 176, 176);
    float: right;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

    .link {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .icon {
      display: block;
      width: 50px;
      height: 50px;
    }

    .name {
      margin-top: 5px;
      font-size: 20px;
      color: rgb(64, 64, 64);
    }
  }
}
</style>
