<template>
  <div class="UserInfo">
    <open-data
      class="avatar"
      type="userAvatarUrl" />
    <div class="nickname">
      <open-data type="userNickName" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserInfo'
}
</script>

<style lang="less" scoped>
.UserInfo {
  text-align: center;
  background: #CB9871;
  color: white;
  height: 370px;

  .level {
    margin-top: 5px;
    font-size: 24px;
    color: rgb(255, 255, 255);
  }

  .nickname {
    font-size: 37px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    @height: 100px;
    height: @height;
    line-height: @height;
  }

  .avatar {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}
</style>
