<template>
  <div class="container">
    <UserInfo />
    <div class="content">
      <CouponAndFavorite />
      <OrderCard />
      <ContributeAndAddress />
    </div>
  </div>
</template>

<script>
import OrderCard from './OrderCard'
import UserInfo from './UserInfo'
import CouponAndFavorite from './CouponAndFavorite'
import ContributeAndAddress from './ContributeAndAddress'

export default {
  data () {
    return {
    }
  },
  components: {
    UserInfo,
    OrderCard,
    CouponAndFavorite,
    ContributeAndAddress
  },
  methods: {
  }
}
</script>

<style>
page {
  background: #F2F2F7;
}
</style>

<style lang="less" scoped>
.content {
  margin-top: -80px;
}
</style>
