<template>
  <div class="Discover">
    <Loadmore v-if="discoveries.length === 0"></Loadmore>
    <ListItem
      :href="'/pages/article/main?id=' + item.discovery.id"
      :key="item.discovery.id"
      v-for="item in discoveries"
      :coverPic="item.discovery.coverPic"
      :view="item.discovery.views"
      :title="item.discovery.title" />
  </div>
</template>

<script>
import ListItem from '@/components/ListItem'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'Discover',
  components: {
    ListItem,
    Loadmore
  },
  data () {
    return {
      discoveries: [],
      current: 1,
      pages: 1
    }
  },
  onPullDownRefresh () {
    this.current = 1
    this.loadData().finally(() => {
      wx.stopPullDownRefresh()
    })
  },
  onReachBottom () {
    this.loadData()
  },
  onLoad () {
    this.loadData()
  },
  methods: {
    loadData () {
      if (this.current > this.pages) {
        return
      }

      return this.$api.discovery
        .all({
          current: this.current
        })
        .then(res => {
          this.pages = res.pages

          if (this.current === 1) {
            this.discoveries = res.records
          } else {
            this.discoveries = [
              ...this.discoveries,
              ...res.records
            ]
          }

          this.current++
        })
    }
  }
}
</script>

<style lang="less" scoped>
.Discover {}
</style>

<style>
page {
  background: #F7F7FA;
}
</style>
