<template>
  <a href="/pages/article/main" class="ArticleItem">
    <img :src="cover" />
    <div>{{ title }}</div>
  </a>
</template>

<script>
export default {
  name: 'ArticleItem',
  props: {
    cover: {
      default: 'http://img02.tooopen.com/images/20150928/tooopen_sy_143912755726.jpg',
      type: String
    },
    title: {
      default: '标题',
      type: String
    }
  }
}
</script>

<style lang="less" scoped>
.ArticleItem {
  width: 100%;
  margin-bottom: 30px;

  img {
    width: 100%;
    height: 400px;
  }

  .date {
    font-size: 18px;
  }
}
</style>
