<template>
  <div
    @click="click"
    :class="{
      Btn: true,
      plain: plain || type === 'plain',
      red: red || type === 'red',
      small,
      info: info || type === 'info'
    }">
    <slot />
    {{ text }}
  </div>
</template>

<script>
export default {
  name: 'Btn',
  props: {
    plain: {
      type: Boolean,
      default: false
    },
    info: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    text: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: ''
    }
  },
  data () {
    return {}
  },
  methods: {
    click (e) {
      this.$emit('click', e)
    }
  }
}
</script>

<style lang="less" scoped>
.Btn {
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  color: white;
  display: inline-block;
  background-image: -webkit-linear-gradient( 0deg, rgb(208,157,116) 0%, rgb(190,135,91) 100%);
  border-radius: 60px;
  padding: 0 40px;

  &.small {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 22px;
  }

  &.plain {
    color: black;
    background: #F2F2F7;
  }

  &.info {
    color: #404040;
    background: #F1F1F6;
  }

  &.red {
    color: white;
    background-image: -webkit-linear-gradient( 0deg, rgb(160,38,62) 0%, rgb(140,0,27) 100%);
  }
}
</style>
