<template>
  <div :class="{ Card: true, padding: padding }">
    <div v-if="title" class="header">
      {{ title }}
    </div>
    <div class="_content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    title: String,
    padding: {
      default: true,
      type: Boolean
    }
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less">
.Card {
  box-sizing: border-box;
  margin: 0 auto 25px auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 690px;

  .header {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    font-size: 30px;
    color: rgb(64, 64, 64);
    border-bottom: 1px solid #ECECEC;
  }

  &.padding {
    padding: 30px;
  }
}
</style>
