<template>
  <div class="Cells">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Cells',
  data () {
    return {
    }
  },
  methods: {}
}
</script>

<style lang="less">
.Cells {
  background-color: #FFFFFF;
  overflow: hidden;
  position: relative;
  padding: 0 30px;
}
</style>
