<template>
  <div
    @click="phonecall"
    class="Contact">
    <slot />
  </div>
</template>

<script>
import phonecall from '../utils/phonecall'

export default {
  name: 'Contact',
  props: {
    number: {
      type: String,
      default: ''
    }
  },
  methods: {
    phonecall () {
      phonecall(this.number)
    }
  }
}
</script>
