<template>
  <div
    :class="{ noMargin }"
    style="height: 1px;"
    class="Divider">
  </div>
</template>

<script>
export default {
  name: 'Divider',
  props: {
    noMargin: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less">
.Divider {
  display: block;
  width: 100%;
  margin: 24px 0px;
  padding: 0px;
  list-style: none;
  background: rgb(232, 232, 232);

  &.noMargin {
    margin: 0;
  }
}
</style>
