<template>
  <div class="EvaluationItem">
    <div class="header">
      <div class="avatar">
        <img :src="info.avatarUrl" alt="">
      </div>
      <div class="nickname">
        {{ info.nickName }}
      </div>
      <div class="rate">
        <Rate
          :small="true"
          :disable="true"
          :value="info.score"/>
      </div>
    </div>
    <div class="text">
      {{ info.experience }}
    </div>
    <div class="imageList">
      <img
        @click="show(url)"
        mode="aspectFill"
        :key="url"
        v-for="url in info.pictureUrl"
        class="image"
        :src="url" />
    </div>
    <div v-if="showFooter" class="footer">
      <div>{{ info.description }} </div>
      <div>{{ createTime }}</div>
    </div>
  </div>
</template>

<script>
import Rate from '@/components/Rate'
import datetime from '../utils/datetime'
import image from '../utils/image'

export default {
  name: 'EvaluationItem',
  components: {
    Rate
  },
  computed: {
    createTime () {
      return datetime(this.info.createTime)
    }
  },
  props: {
    info: {
      type: Object,
      default: () => {}
    },
    showFooter: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {}
  },
  methods: {
    show (url) {
      image.preview({
        current: url,
        urls: this.info.pictureUrl
      })
    }
  }
}
</script>

<style lang="less" scoped>
.EvaluationItem {
  border-bottom: 1px solid #eeeeee; /* no */
  padding-bottom: 20px;

  &:last-child {
    border-bottom: none;
  }

  .header {
    height: 100px;
    display: flex;
    align-items: center;
  }

  .avatar {
    border-radius: 50%;
    background-color: rgb(159, 141, 141);
    width: 60px;
    height: 60px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .nickname {
    margin-left: 20px;
    font-size: 34px;
    color: rgb(64, 64, 64);
  }

  .rate {
    margin-left: auto;
  }

  .text {
    font-size: 30px;
    color: rgb(64, 64, 64);
  }

  .imageList {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;

    .image {
      margin-right: 20px;
      margin-top: 20px;
      background-color: rgb(218, 218, 218);
      width: 140px;
      height: 140px;
    }
  }

  .footer {
    margin-top: 10px;
    font-size: 24px;
    color: rgb(176, 176, 176);
    display: flex;
    justify-content: space-between;
  }
}
</style>
