<template>
  <div class="GoodsList">
    <div class="title">{{ title }}</div>
    <div class="content">
      <div
        :key="item"
        v-for="item in records"
        class="GoodsListItem">
        <GoodsListItem
          :storeCode="storeCode"
          :data="item" />
      </div>
    </div>
  </div>
</template>

<script>
import GoodsListItem from '@/components/GoodsListItem'
import api from '../api'

export default {
  name: 'GoodsList',
  components: {
    GoodsListItem
  },
  props: {
    title: {
      type: String,
      default: '味家精选'
    },
    code: {
      type: String,
      default: ''
    },
    storeCode: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      current: 0,
      pages: 0,
      records: [],
      size: 0,
      total: 0
    }
  },
  onLoad () {
    this.getData()
  },
  methods: {
    getData () {
      const { code } = this.$root.$mp.query

      api.commodity.recommand(code || 'SCODE1')
        .then(res => {
          Object.assign(this, res)
        })
    }
  }
}
</script>

<style lang="less" scoped>
.GoodsList {
  .title {
    margin: 10px 0 20px 0;
    font-size: 37px;
    color: rgb(64, 64, 64);
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
</style>
