<template>
  <div class="GoodsClass">
    <div style="padding: 0 30rpx;">
      <SearchBar :placeholder="true"/>
    </div>
    <div class="menuView">
      <div class="menu">
        <div
          :key="type"
          v-for="(type, $index) in typeList"
          @click="select('index' + $index)"
          :class="{ active: activeId === 'index' + $index, item: true }" >
          {{ type.showName }}
          <div class="flag"></div>
        </div>
      </div>

      <div class="view">
        <scroll-view
          @scroll="scroll"
          :scroll-with-animation="true"
          :scroll-into-view="scrollId"
          scroll-y>
          <a href="/pages/goodsDetail/main?id=CCODE2&storeCode=SCODE1">
            <div ref="rest" class="cover">
              <img
                class="image"
                mode="aspectFill"
                src="http://oa6ikqu54.bkt.clouddn.com/%E5%9B%BE%E5%B1%82%201251%20%E6%8B%B7%E8%B4%9D%202.png" alt="">
            </div>
          </a>

          <div
            @click="activeMenu($index)"
            :key="type"
            v-for="(type, $index) in typeList"
            class="item">

            <div :id="'index' + $index" class="title">
              {{ type.showName }}
            </div>

            <div class="classList">
              <a
                :href="'/pages/search/main?categoryId=' + item.categoryId + '&storeCode=' + storeCode"
                :key="item"
                v-for="item in type.categoryList"
                class="class">
                <div class="imageWrap">
                  <img
                    class="image"
                    :src="item.categoryUrl"
                    alt="">
                </div>
                <div class="name">
                  {{ item.categoryName }}
                </div>
              </a>
            </div>
          </div>
        </scroll-view>
      </div>
    </div>
  </div>
</template>

<script>
import SearchBar from '@/components/SearchBar'

export default {
  data () {
    return {
      activeId: 'index0',
      scrollId: '',
      positions: [],
      typeList: []
    }
  },
  props: {
    storeCode: {
      type: String,
      default: ''
    }
  },
  components: {
    SearchBar
  },
  watch: {
    storeCode () {
      this.getData()
    }
  },
  onLoad () {
    this.getData()
  },
  methods: {
    getData () {
      if (!this.storeCode) {
        return
      }

      this.$api.store
        .show(this.storeCode)
        .then(res => {
          this.typeList = res

          setTimeout(() => {
            this.savePosition()
          }, 1000)
        })
    },
    select (activeId) {
      this.activeId = activeId
      this.scrollId = activeId

      setTimeout(() => {
        this.scrollId = ''
      }, 100)
    },
    savePosition () {
      wx
        .createSelectorQuery()
        .selectAll('.title')
        .boundingClientRect()
        .exec(rects => {
          this.positions = rects[0].map(rect => rect)
        })
    },
    scroll (e) {
      this.positions.forEach(rect => {
        if (e.mp.detail.scrollTop > (rect.top - rect.height)) {
          this.activeId = rect.id
        }
      })
    },
    activeMenu () {}
  }
}
</script>

<style lang="less" scoped>
.GoodsClass {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menuView {
  display: flex;
  margin-top: 5px;
  flex: 1;

  .cover {
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 200px;

    .image {
      width: 100%;
      height: 100%;
    }
  }

  .menu {
    width: 200px;
    background: #F2F2F7;
    color: #404040;
    font-size: 28px;

    .item {
      position: relative;
      text-align: center;
      height: 80px;
      line-height: 80px;

      &.active {
        color: #8c001b;
        background: #ffffff;

        .flag {
          position: absolute;
          left: 0;
          top: 15px;
          width: 5px;
          height: 50px;
          background: #8c001b;
        }
      }
    }
  }

  .view {
    width: 550px;
    padding: 0 30px;

    scroll-view {
      width: 100%;
      height: 100%;
    }

    .title {
      font-size: 34px;
      color: rgb(64, 64, 64);
      font-weight: bold;
      line-height: 100px;
      height: 100px;
      margin-top: 20px;
      text-align: left;
    }

    .classList {
      display: flex;
      flex-wrap: wrap;
    }

    .class {
      text-align: center;
      width: 33.3%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .imageWrap {
        border-radius: 10px;
        width: 160px;
        height: 160px;
        overflow: hidden;
      }

      .image {
        width: 100%;
        height: 100%;
      }

      .name {
        font-size: 24px;
        color: rgb(64, 64, 64);
        line-height: 60px;
        height: 60px;
        margin-bottom: 5px;
      }
    }
  }
}
</style>
