<template>
  <a :href="href" class="GoodsListItem">
    <div class="imageWrap">
      <img
        class="image"
        mode="aspectFill"
        :src="data.mainPictureUrl" />
    </div>
    <div>
      <div class="name">{{ data.name }}</div>
      <div class="side">
        <div :class="{
          price: true,
          colorRed: setPriceTextRed
        }">
          <Price :value="data.price" />
        </div>
        <div
          v-if="showCount"
          class="count">销量{{ data.soldQuantity }}
        </div>
      </div>
    </div>
  </a>
</template>

<script>
import Price from './Price'

export default {
  name: 'GoodsListItem',
  components: {
    Price
  },
  props: {
    setPriceTextRed: {
      type: Boolean,
      default: false
    },
    showCount: {
      type: Boolean,
      default: false
    },
    storeCode: {
      type: String,
      default: ''
    },
    data: {
      type: Object,
      default () {
        return {
          cover: '',
          name: '商品名称',
          price: 0.0
        }
      }
    }
  },
  computed: {
    href () {
      return `/pages/goodsDetail/main?id=${this.data.commodityCode}&storeCode=${this.storeCode}`
    }
  }
}
</script>

<style lang="less" scoped>
.GoodsListItem {
  display: block;
  margin-bottom: 20px;

  .imageWrap {
    overflow: hidden;
    border-radius: 10px;
    width: 330px;
    height: 330px;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .price {
    font-size: 36px;
    color: rgb(140, 0, 27);
  }

  .name {
    font-size: 30px;
    color: rgb(72, 72, 72);
    margin-top: 10px;
  }

  .count {
    font-size: 20px;
    color: rgb(176, 176, 176);
  }
}
</style>
