<template>
  <div
    @click="detail(data.commodity.commodityCode, data.storeCode)"
    class="GoodsDetailItem">
    <div>
      <img
        class="image"
        mode="aspectFill"
        :src="cover || data.commodity.commodityPictureList[0].pictureUrl" />
    </div>
    <div class="right">
      <div class="name">
        {{ name || data.commodity.commodityName }}
      </div>
      <div class="typeAndSize">
        {{ description || data.sku.description }}
      </div>
      <div class="side">
        <div class="prize">
          <span :class="{ colorRed: setPriceTextRed }">
            <Price :value="price || data.sku.salePrice" />
          </span>

          <span
            v-if="showAmount"
            class="amount">x{{ amount || data.amount }}
          </span>
        </div>
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
import navigate from '../utils/navigate'
import Price from './Price'

export default {
  name: 'GoodsDetailItem',
  components: {
    Price
  },
  props: {
    data: {
      type: Object,
      default: () => ({
        commodity: {
          commodityPictureList: [{
            pictureUrl: ''
          }]
        },
        sku: {}
      })
    },
    setPriceTextRed: {
      type: Boolean,
      default: false
    },
    description: {
      type: String,
      default: ''
    },
    price: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    cover: {
      type: String,
      default: ''
    },
    amount: {
      type: Number,
      default: 0
    },
    showAmount: {
      type: Boolean,
      default: true
    },
    goToDetail: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
    }
  },
  methods: {
    detail (id, storeCode) {
      if (this.goToDetail) {
        navigate.to('/pages/goodsDetail/main', {
          id,
          storeCode
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
.GoodsDetailItem {
  display: flex;

  .right {
    overflow: hidden;
    margin-left: 20px;
    flex: 1;
  }

  .image {
    background-color: rgb(0, 7, 9);
    width: 140px;
    height: 140px;
  }

  .amount {
    font-size: 24px;
    color: rgb(176, 176, 176);
  }

  .typeAndSize {
    font-size: 24px;
    color: rgb(176, 176, 176);
    height: 60px;
  }

  .prize {
    font-size: 28px;
    color: rgb(64, 64, 64);
    font-weight: bold;
  }

  .name {
    width: 100%;
    font-size: 28px;
    color: rgb(64, 64, 64);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
