<template>
  <div class="Label">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Label',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Label {
  display: block;
  width: 105px;
  word-wrap: break-word;
  word-break: break-all;
}
</style>
