<template>
  <div
    @click="click"
    :class="{
      MainButton: true,
      red: type === 'red',
      link: type === 'link'
    }">
    {{ text }}
    <slot />
  </div>
</template>

<script>
export default {
  name: 'MainButton',
  data () {
    return {}
  },
  props: {
    type: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    }
  },
  methods: {
    click () {
      this.$emit('click')
    }
  }
}
</script>

<style lang="less" scoped>
.MainButton {
  background-image: -webkit-linear-gradient( 0deg, rgb(208,157,116) 0%, rgb(190,135,91) 100%);
  color: #fff;
  display: block;
  flex: 1;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 36px;
  position: relative;

  &.link {
    color: #8c001c;
    background: white;
  }

  &.red {
    color: white;
    background: #8c001c;
  }
}
</style>
