<template>
  <div
    class="MainLink"
    style="border-top: 1px solid #B2B2B2;">
    <a
      :href="href"
      class="MainLinka">
      <slot />
    </a>
  </div>
</template>

<script>
export default {
  name: 'MainLink',
  props: {
    href: {
      type: String,
      default: ''
    }
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less">
.MainLink {
  text-align: center;
  height: 100px;
  line-height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;

  .MainLinka {
    font-size: 34px;
    color: #8c001c;
  }
}
</style>
