<template>
  <div :animation="animationData" v-if="isShow" class="Mask">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Mask',
  data () {
    return {
      animationData: {},
      isShow: false,
      duration: 200
    }
  },
  methods: {
    hide () {
      this.animationData = this.createAnimation(false)
    },
    show () {
      this.isShow = true

      setTimeout(() => {
        this.animationData = this.createAnimation(true)
      }, 100)
    },
    createAnimation (bool) {
      setTimeout(() => {
        this.isShow = bool
      }, this.duration)
      return wx
        .createAnimation({
          duration: this.duration,
          timingFunction: 'linear'
        })
        .opacity(bool ? 1 : 0)
        .step()
        .export()
    }
  }
}
</script>

<style lang="less" scoped>
.Mask {
  transition: all linear 1s;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
}
</style>
