<template>
  <span class="Price">
    ￥{{ val }}
  </span>
</template>

<script>
export default {
  name: 'Price',
  computed: {
    val () {
      const value = this.value

      if (value || value === 0) {
        return (+(value)).toFixed(2)
      } else {
        return ''
      }
    }
  },
  props: {
    value: {
      type: Number,
      default: 0
    }
  }
}
</script>
