<template>
  <div :class="{
      Tab: true,
      small: size === 'small'
    }">
    <div
      @click="click(label, $index)"
      :class="{
        label: true,
        active: active === $index,
      }"
      :key="label"
      v-for="(label, $index) in labels">
      {{ label }}
      <div class="flag"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tab',
  props: {
    labels: {
      type: String,
      default: () => []
    },
    activeIndex: {
      type: Number,
      default: 0
    },
    size: {
      type: String,
      default: ''
    }
  },
  watch: {
    activeIndex (val) {
      if (this.active === val) {
        return
      }
      this.active = val
    }
  },
  data () {
    return {
      active: 0
    }
  },
  onLoad () {
    this.active = this.activeIndex
  },
  methods: {
    click (label, index) {
      this.$emit('select', {
        label,
        index
      })
      this.active = index
    }
  }
}
</script>

<style lang="less" scoped>
.Tab {
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  height: 90px;
  padding-top: 15px;
  box-sizing: border-box;

  &.small {
    height: 80px;
    padding-top: 10px;

    .label {
      font-size: 30px;
    }
  }

  .label {
    font-size: 37px;
  }

  .active {
    color: #8c001b;

    .flag {
      background-color: #8c001b;
      width: 50px;
      height: 6px;
      border-radius: 6px;
      margin: 5px auto 0 auto;
    }
  }
}
</style>
