<template>
  <div class="Tag">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Tag',
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Tag {
  font-size: 24px;
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 96px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  border: 1px solid rgba(187, 187, 187, 1);

  & + & {
    margin-left: 10px;
  }
}
</style>
