<template>
  <div class="CouponCenter">
    <Tab
      @select="tabSelect"
      :labels="labels" />
    <Coupon
      :showBtns="true"
      :key="coupon.coupon.id"
      :categoryList="coupon.categoryList"
      :info="coupon.coupon"
      :isReceived="coupon.isReceived"
      :store="coupon.store.name"
      v-for="coupon in coupons" />
    <Loadmore v-if="coupons.length === 0"></Loadmore>
    <MainLink href="/pages/myCoupon/main">
      我的优惠券
    </MainLink>
  </div>
</template>

<script>
import Coupon from '@/components/Coupon'
import Tab from '@/components/Tab'
import Loadmore from '@/components/Loadmore'
import MainLink from '@/components/MainLink'
import react from '../../utils/react'

export default {
  name: 'CouponCenter',
  components: {
    Coupon,
    Tab,
    Loadmore,
    MainLink
  },
  data () {
    return {
      coupons: [],
      labels: ['平台', '商家']
    }
  },
  onLoad () {
    this.getFlahship()
    this.getPlatform()
  },
  methods: {
    tabSelect (tab) {
      if (tab.index === 0) {
        this.getFlahship()
      } else {
        this.getPlatform()
      }
    },
    getFlahship () {
      this.getData(this.$store.state.global.flagshipStore.code)
    },
    getPlatform () {
      this.getData('store1')
    },
    getData (code) {
      react.showLoading()

      this.$api.coupon
        .store(code)
        .then(res => {
          this.coupons = res
        })
        .finally(() => {
          react.hideLoading()
        })
    }
  }
}
</script>

<style lang="less" scoped>
.CouponCenter {
  padding-bottom: 150px;
}
</style>
