<template>
<div class="NumberInput">
  <div
    class="reduce"
    @click="reduce">
  </div>
  <div class="entityQuantity">{{ currentValue }}</div>
  <div
    @click="add"
    :disable="disable || this.addDisable || this.max === this.currentValue"
    class="add">
  </div>
</div>
</template>

<script>
export default {
  name: 'NumberInput',
  props: {
    value: {
      type: Number,
      default: 0
    },
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 99
    },
    disable: {
      type: Boolean,
      default: false
    },
    addDisable: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    value (val, oldValue) {
      this.setCurrentValue(val)
    }
  },
  data () {
    return {
      currentValue: this.value
    }
  },
  onLoad () {},
  methods: {
    setCurrentValue (value) {
      if (value === this.currentValue) return
      this.currentValue = value
    },
    add (e) {
      if (this.disable || this.addDisable) {
        this.$emit('addCancel')
        return false
      }

      if (this.currentValue < this.max) {
        this.currentValue++
        this.$emit('add', this.currentValue)
        this.emit()
      }
    },
    emit () {
      this.$emit('input', this.currentValue)
      this.$emit('update', this.currentValue)
      this.$emit('change', this.currentValue)
    },
    reduce (e) {
      if (this.disable || this.currentValue <= this.min) {
        return false
      }

      e.stopPropagation()

      if (this.currentValue > 0) {
        this.currentValue--
        this.$emit('reduce', this.currentValue)
        this.emit()
      }
    }
  }
}
</script>

<style lang="less" scoped>
.NumberInput {
  height: 50px;
  display: flex;
  align-items: center;
  white-space: nowrap;

  .entityQuantity {
    text-align: center;
    color: #666;
    height: 50px;
    line-height: 50px;
    min-width: 60px;
    overflow: hidden;
    background: rgb(242, 242, 247);
    color: rgb(64, 64, 64);
    font-size: 28px;
  }

  .reduce {
    border-radius: 10px 0 0 10px;
    background: url('./images/reduce.png') center center no-repeat rgb(242, 242, 247);
    background-size: image-size('./images/reduce.png');
    width: 50px;
    height: 50px;
    margin-right: 2px;
  }

  .add {
    border-radius: 0 10px 10px 0;
    margin-left: 2px;
    background: url('./images/add.png') center center no-repeat rgb(242, 242, 247);
    background-size: image-size('./images/add.png');
    width: 50px;
    height: 50px;
  }
}
</style>
