<template>
  <div class="myCoupon">
    <div class="tab">
      <Tab
        @select="select"
        :labels="labels" />
    </div>
    <div>
      <Coupon
        :showBtns="false"
        :key="coupon.coupon.id"
        :categoryList="coupon.categoryList"
        :info="coupon.coupon"
        :disable="type === 2"
        :store="coupon.store.name"
        :isReceived="coupon.isReceived"
        v-for="coupon in coupons" />
      <Loadmore v-if="coupons.length === 0"></Loadmore>
    </div>
  </div>
</template>

<script>
import Tab from '@/components/Tab'
import Coupon from '@/components/Coupon'
import react from '../../utils/react'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'myCoupon',
  components: {
    Tab,
    Coupon,
    Loadmore
  },
  data () {
    return {
      type: 0,
      coupons: [],
      labels: ['未使用', '已使用', '已过期']
    }
  },
  onLoad () {
    this.getData()
  },
  methods: {
    select ({ index }) {
      this.getData(index)
    },
    async getData (type = 0) {
      this.coupons = []
      react.showLoading()

      try {
        this.coupons = await this.$api.coupon.my(type)
        this.type = type
      } finally {
        react.hideLoading()
      }
    }
  }
}
</script>

<style lang="less" scoped>
.myCoupon {
  .tab {
  }
}
</style>
