<template>
  <div class="favorites">
    <Tab
      :labels="labels"
      @select="getActive" />
    <div v-if="active === 'collection'">
      <Loadmore v-if="collection.records.length === 0"></Loadmore>
      <ListItem
        v-for="item in collection.records"
        :href="'/pages/article/main?id=' + item.id"
        :key="item.id"
        :title="item.title"
        :coverPic="item.coverPic" />
    </div>
    <div v-else>
      <ListItem
        v-for="item in diy.records"
        :href="'/pages/diy/main?id=' + item.id"
        :key="item.id"
        :title="item.title"
        :coverPic="item.coverPic" />
      <Loadmore v-if="diy.records.length === 0"></Loadmore>
    </div>
  </div>
</template>

<script>
import Tab from '@/components/Tab'
import ListItem from '@/components/ListItem'
import Loadmore from '@/components/Loadmore'
import react from '@/utils/react'

export default {
  name: 'favorites',
  components: {
    Tab,
    ListItem,
    Loadmore
  },
  data () {
    return {
      labels: ['内容', 'DIY方案'],
      active: 'collection',
      collection: {
        current: 0,
        size: 6,
        pages: 0,
        records: []
      },
      diy: {
        current: 0,
        size: 6,
        pages: 0,
        records: []
      }
    }
  },
  onLoad () {
    this.loadMore(this.active)
  },
  onPullDownRefresh () {
    this.reload(this.active)
  },
  onReachBottom () {
    this.loadMore(this.active)
  },
  methods: {
    getActive (pval) {
      this.active = pval.index === 0 ? 'collection' : 'diy'
      this.loadMore(this.active)
    },
    loadMore (opt) {
      let config = this[opt]

      if (config.current > config.pages) {
        return
      }

      this
        .loadData(opt)
        .then(res => {
          this.fillData(res, opt)
        })

      config.current++
    },
    loadData (opt) {
      let config = this[opt]

      return this.$api[opt]
        .all({
          current: config.current,
          size: config.size
        })
    },
    fillData (res, opt) {
      let config = this[opt]
      config.pages = res.pages

      config.records = [
        ...config.records,
        ...res.records
      ]

      return res
    },
    reload (opt) {
      let config = this[opt]
      config.current = 1
      wx.showNavigationBarLoading()

      return this
        .loadData(opt)
        .then(res => {
          config.records = []

          react.showToast({
            title: '刷新成功',
            icon: 'none'
          })

          return res
        })
        .then(res => {
          this.fillData(res, opt)
        })
        .finally(() => {
          wx.hideNavigationBarLoading()
        })
    }
  }
}
</script>

<style>
page {
  background: #F7F7FA;
}
</style>
