<template>
  <div class="Summary">
    <div class="rate">
      好评率    {{ rate }}%
    </div>
    <div class="content">
      <EvaluationItem
        :key="evaluation.id"
        v-for="evaluation in evaluations"
        :info="evaluation" />
      <Loadmore v-if="evaluations.length === 0"></Loadmore>
    </div>
  </div>
</template>

<script>
import EvaluationItem from '@/components/EvaluationItem'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'Summary',
  components: {
    EvaluationItem,
    Loadmore
  },
  data () {
    return {
      rate: 100,
      total: 0,
      evaluations: []
    }
  },
  onLoad () {
    this.getData()
  },
  methods: {
    getData () {
      const { id } = this.$root.$mp.query

      this.$api.evaluation
        .get(id)
        .then(res => {
          this.total = res.total
          this.evaluations = res.records
        })

      this.$api.evaluation
        .rate(id)
        .then(res => {
          this.rate = 100 * res
        })
    }
  }
}
</script>

<style lang="less" scoped>
.Summary {
  .content {
    padding: 0 30px;
  }

  .rate {
    background-color: rgb(242, 242, 247);
    width: 100%;
    height: 88px;
    line-height: 88px;
    font-size: 28px;
    padding-left: 30px;
    color: rgb(176, 176, 176);
  }
}
</style>
