<template>
  <div class="Search">
    <div class="searchBar">
      <SearchBar
        :storeCode="storeCode"
        @search="searchBarChange" />
    </div>
    <Filter @update="filterUpdate" />
    <div class="list">
      <div
        :key="item"
        v-for="item in records"
        class="GoodsListItem">
        <GoodsListItem
          :storeCode="storeCode"
          :data="item"
          :showCount="true" />
      </div>
      <Loadmore v-if="records.length === 0"></Loadmore>
    </div>
  </div>
</template>

<script>
import react from '../../utils/react'
import Filter from '@/components/Filter'
import GoodsListItem from '@/components/GoodsListItem'
import SearchBar from './SearchBar'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'Search',
  components: {
    Filter,
    GoodsListItem,
    SearchBar,
    Loadmore
  },
  computed: {
    flagshipStore () {
      return this.$store.state.global.flagshipStore
    }
  },
  data () {
    return {
      sortType: -1,
      key: '',
      categoryId: '',
      storeCode: '',
      records: []
    }
  },
  onLoad () {
    const {
      categoryId,
      storeCode,
      key
    } = this.$root.$mp.query

    this.key = key || ''
    this.storeCode = storeCode || this.flagshipStore.code
    this.categoryId = categoryId

    this.search()
  },
  methods: {
    filterUpdate (sortType) {
      this.sortType = sortType
      this.search()
    },
    searchBarChange (key) {
      this.key = key
      this.search()
    },
    search () {
      react.showLoading('搜索中...')

      this.$api.commodity
        .search({
          storeCode: this.storeCode,
          commodityName: this.key,
          sortType: this.sortType
        })
        .then(res => {
          this.records = res.records
        })
        .finally(() => {
          react.hideLoading()
        })
    }
  }
}
</script>

<style lang="less" scoped>
.Search {
  padding-top: 100px;
}

.searchBar {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.list {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;

  .GoodsListItem:nth-child(2n) {
    margin-left: 30px;
  }
}
</style>
