<template>
  <div class="AddressPanel">
    <a class="Cell arrow" href="/pages/addressSelect/main">
      <template v-if="!addressSelected.id">
        <div class="pleaseSelectAddress">
          <AddressIcon />
          <div>收货地址</div>
        </div>
        <div class="colorGold">请添加收货地址</div>
      </template>

      <div v-else>
        <div class="nameAndPhone">
          <AddressIcon />
          <div class="name">
            {{ addressSelected.consignee }}
          </div>
          <div class="phone">
            {{ addressSelected.phone }}
          </div>
        </div>
        <div class="address">
          {{ addressSelected.addressDetail }}
        </div>
      </div>
    </a>
  </div>
</template>

<script>
import Cell from '@/components/Cell'
import AddressIcon from '@/components/Icon/AddressIcon'

export default {
  name: 'AddressPanel',
  props: {
    empty: {
      type: Boolean,
      default: false
    }
  },
  components: {
    Cell,
    AddressIcon
  },
  data () {
    return {
    }
  },
  computed: {
    addressSelected () {
      return this.$store.state.orderConfirm.address
    }
  },
  onLoad () {
    this.$api.delivery
      .default()
      .then(res => {
        if (!this.addressSelected.id && res) {
          this.$store.commit('orderConfirm/update', {
            address: res
          })
        }
      })
  },
  methods: {
  }
}
</script>

<style lang="less" scoped>
.AddressPanel {
  padding: 0 30px;
  background: white;
  margin-bottom: 30px;

  .address {
    margin-top: 10px;
    margin-left: 30px;
  }

  .name {
    margin-left: 10px;
  }

  .phone {
    margin-left: 50px;
  }

  .nameAndPhone {
    display: flex;
    align-items: center;
  }

  .pleaseSelectAddress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
  }
}
</style>
