<template>
  <div class="Card BuyCheckout">
    <div class="Cells">
      <div @click="getCouponDialog" class="Cell arrow">
        <div class="label">优惠券</div>
        <div v-if="coupons.length === 0">
          无可用
        </div>
        <div v-else>{{ coupon.name || '未使用' }}</div>
      </div>
      <a href="/pages/receiptEdit/main" class="Cell arrow">
        <div class="label">发票</div>
        <div>{{ receipt.invoiceTitle }}</div>
      </a>
    </div>
  </div>
</template>

<script>
import Cell from '@/components/Cell'
import Cells from '@/components/Cells'

export default {
  name: 'BuyCheckout',
  components: {
    Cell,
    Cells
  },
  computed: {
    buyInfo () {
      return this.$store.state.orderConfirm.buyInfo
    },
    receipt () {
      return this.$store.state.orderConfirm.receipt
    },
    coupon () {
      return this.$store.state.orderConfirm.coupon
    }
  },
  data () {
    return {
      coupons: []
    }
  },
  onLoad () {
    this.checkCoupon()
  },
  methods: {
    getCouponDialog () {
      this.$emit('openDialog')
    },
    async checkCoupon () {
      const dtoList = await this.buyInfo.skuList.map(item => {
        return {
          quantity: item.amount,
          skuId: item.sku.id
        }
      })

      const res = await this.$api.coupon.order(dtoList)

      this.coupons = res
    }
  }
}
</script>

<style lang="less" scoped>
.BuyCheckout {
}
</style>
