<template>
  <div class="Card BuySection padding">
    <div class="buyChart">
      <div class="buyChartItem">
        <div class="text">商品金额</div>
        <div class="prize colorRed">
          <Price :value="commodityPrice" />
        </div>
      </div>
      <div class="buyChartItem">
        <div class="text">运费</div>
        <div class="prize colorRed">
          <Price :value="freight" />
        </div>
      </div>
      <div
        v-if="discountAmount"
        class="buyChartItem">
        <div class="text">优惠</div>
        <div class="prize colorRed">
          <Price :value="discountAmount" />
        </div>
      </div>
      <div class="buyChartItem">
        <div class="text">实付</div>
        <div class="prize colorRed">
          <Price :value="orderPrice" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Price from '@/components/Price'

export default {
  name: 'BuySection',
  components: {
    Price
  },
  computed: {
    orderConfirm () {
      return this.$store.state.orderConfirm
    }
  },
  watch: {
    '$store.state.orderConfirm.coupon' () {
      this.preOrder()
    }
  },
  data () {
    return {
      freight: 0,
      commodityPrice: 0,
      orderPrice: 0,
      discountAmount: 0
    }
  },
  onLoad () {
    this.preOrder()
  },
  methods: {
    async preOrder () {
      const { buyInfo, coupon } = this.orderConfirm

      const skuList = buyInfo.skuList.map(({ amount, sku }) => {
        return {
          commodityCount: amount,
          skuId: sku.id
        }
      })

      const order = {
        skuList,
        storeCode: buyInfo.storeCode
      }

      if (coupon.id) {
        order.couponId = coupon.id
      }

      try {
        const { mainOrder } = await this.$api.order.preOrder(order)

        Object.assign(this, mainOrder)

        this.$store.commit('orderConfirm/update', {
          mainOrder
        })
      } catch (e) {
        if (e.message === '优惠券不在有效期内，不能使用') {
          this.$store.commit('orderConfirm/update', {
            coupon: {}
          })
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
.BuySection {
  .buyChart {
    position: relative;
    font-size: 34px;

    .buyChartItem {
      display: flex;
      height: 60px;
      line-height: 60px;

      &:not(:first-child) {
        margin-top: 3px;
      }

      .text {
        flex: 1;
        color: #333;
      }

      .prize {
      }
    }
  }
}
</style>
