<template>
  <div class="FixBar">
    <div class="select">
      <span>实付金额：</span>
      <span class="colorRed">￥{{ orderConfirm.mainOrder.orderPrice }}</span>
    </div>
    <div class="buy">
      <MainButton type="red" @click="pay">
        提交订单
      </MainButton>
    </div>
  </div>
</template>

<script>
import MainButton from '@/components/MainButton'
import api from '../../api'
import navigate from '../../utils/navigate'
import react from '../../utils/react'

export default {
  name: 'FixBar',
  components: {
    MainButton
  },
  computed: {
    orderConfirm () {
      return this.$store.state.orderConfirm
    },
    addressSelected () {
      return this.$store.state.orderConfirm.address
    }
  },
  data () {
    return {}
  },
  methods: {
    async pay () {
      const skuList = this.orderConfirm.buyInfo.skuList.map(({ amount, sku }) => {
        return {
          commodityCount: amount,
          skuId: sku.id
        }
      })

      if (!this.addressSelected.id) {
        react.showToast('请选择地址')
        return
      }

      const config = {
        diliveryAddressId: this.addressSelected.id,
        skuList,
        storeCode: this.orderConfirm.buyInfo.storeCode
      }

      const invoiceId = this.orderConfirm.receipt.id

      if (invoiceId) {
        config.invoiceId = invoiceId
      }

      const couponId = this.orderConfirm.coupon.id

      if (couponId) {
        config.couponId = couponId
      }

      try {
        const { prePayInfo, order } = await api.order.create(config)

        wx.requestPayment({
          ...prePayInfo,
          success: (res) => {
            navigate.to('/pages/orderPaySuccess/main', order)
          },
          fail (e) {
            navigate.to('/pages/orderDetail/main', order)
          }
        })
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>

<style lang="less" scoped>
.FixBar {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  background: #ffffff;
  justify-content: space-between;

  .select {
    flex: 1;
    font-size: 34px;
    color: rgb(64, 64, 64);
    line-height: 100px;
    padding-right: 50px;
    text-align: right;
  }

  .total {
    display: flex;
  }

  .small {
    font-size: 10px;
    color: #999;
    font-weight: 400;
  }

  .buy {
    width: 280px;
  }
}
</style>
