<template>
  <div class="GetCouponDialogContent">
    <Coupon
      @click="select"
      :showBtns="false"
      :key="coupon.coupon.id"
      :categoryList="coupon.categoryList"
      :info="coupon.coupon"
      :store="coupon.store.name"
      v-for="coupon in coupons" />
    <Loadmore
      text="您暂无可以使用的优惠券"
      v-if="coupons.length === 0" />
  </div>
</template>

<script>
import CheckBox from '@/components/CheckBox'
import Divider from '@/components/Divider'
import Coupon from '@/components/Coupon'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'GetCouponDialogContent',
  components: {
    CheckBox,
    Divider,
    Coupon,
    Loadmore
  },
  computed: {
    buyInfo () {
      return this.$store.state.orderConfirm.buyInfo
    }
  },
  data () {
    return {
      coupons: []
    }
  },
  onLoad () {
    this.getData()
  },
  methods: {
    select (coupon) {
      this.$store.commit('orderConfirm/update', {
        coupon
      })

      this.$parent.close()
    },
    async getData () {
      const dtoList = await this.buyInfo.skuList.map(item => {
        return {
          quantity: item.amount,
          skuId: item.sku.id
        }
      })

      const res = await this.$api.coupon.order(dtoList)

      this.coupons = res
    }
  }
}
</script>

<style lang="less" scoped>
.GetCouponDialogContent {
  border-top: 2px solid rgb(232, 232, 232);
  padding: 0 30px;
}
</style>
