<template>
  <div class="OrderConfirm">
    <AddressPanel :empty="true" />
    <BuyCheckout @openDialog="getCouponDialog" />
    <BuySection />
    <VenderOrderList />
    <FixBar />
    <VDialog title="可用优惠券" ref="getCouponDialog">
      <GetCouponDialogContent />
    </VDialog>
  </div>
</template>

<script>
import AddressPanel from './AddressPanel'
import BuySection from './BuySection'
import VenderOrderList from './VenderOrderList'
import BuyCheckout from './BuyCheckout'
import FixBar from './FixBar'
import Protocols from './Protocols'
import Dialog from '@/components/Dialog'
import GetCouponDialogContent from './GetCouponDialogContent'

export default {
  name: 'OrderConfirm',
  components: {
    BuyCheckout,
    AddressPanel,
    BuySection,
    Protocols,
    VenderOrderList,
    FixBar,
    GetCouponDialogContent,
    VDialog: Dialog
  },
  computed: {
    buyInfo () {
      return this.$store.state.orderConfirm.buyInfo
    }
  },
  data () {
    return {}
  },
  methods: {
    getCouponDialog () {
      this.$refs.getCouponDialog.open()
    }
  }
}
</script>

<style lang="less" scoped>
.OrderConfirm {
  padding-bottom: 200px;
}
</style>

<style>
page {
  background: #F7F7F7;
}
</style>
