<template>
  <div class="Protocols">
    <div class="icon">
      <CheckBox :value="true" />
    </div>
    本人同意《味家平台服务协议》
  </div>
</template>

<script>
import CheckBox from '@/components/CheckBox'

export default {
  name: 'Protocols',
  components: {
    CheckBox
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Protocols {
  margin-left: 30px;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: rgb(64, 64, 64);

  .icon {
    margin-right: 10px;
  }
}
</style>
