<template>
  <div class="Card VenderOrderList">
    <div class="header">
      {{ store.storeInfo.name }}
    </div>
    <div class="content">
      <div
        class="item"
        :key="item.sku.id"
        v-for="(item, $index) in buyInfo.skuList">
        <GoodsDetailItem
          :showAmount="false"
          :data="item" />
        <div class="amount">x{{ item.amount }}</div>
        <Divider v-if="$index + 1 !== buyInfo.skuList.length" />
      </div>
      <Loadmore v-if="buyInfo.skuList.length === 0"></Loadmore>
    </div>
  </div>
</template>

<script>
import GoodsDetailItem from '@/components/GoodsDetailItem'
import Divider from '@/components/Divider'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'VenderOrderList',
  components: {
    GoodsDetailItem,
    Divider,
    Loadmore
  },
  data () {
    return {
      store: {
        storeInfo: {
          name: ''
        }
      }
    }
  },
  computed: {
    buyInfo () {
      return this.$store.state.orderConfirm.buyInfo
    }
  },
  onLoad () {
    this.$api.store
      .storeHome(this.buyInfo.storeCode)
      .then(res => {
        Object.assign(this.store, res)
      })
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.VenderOrderList {
  .content {
    padding: 20px;
  }

  .item {
    position: relative;
  }

  .amount {
    position: absolute;
    top: 100px;
    right: 0;
    font-size: 24px;
    color: rgb(176, 176, 176);
  }
}
</style>
