<template>
  <div class="CheckBox" @click="toggle">
    <div :class="{ icon: true, false: !val }"></div>
    <div
      v-if="label"
      class="label">
      {{ label }}
    </div>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'CheckBox',
  props: {
    value: {
      type: Boolean,
      default: null
    },
    label: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      val: false
    }
  },
  watch: {
    value (val, oldValue) {
      if (val === oldValue) {
        return
      }
      this.setCurrentValue(val)
    }
  },
  onLoad () {
    this.setCurrentValue(this.value)
  },
  methods: {
    setCurrentValue (val) {
      if (val === this.val) return
      this.val = val
      this.$emit('input', this.val)
      this.$emit('update', this.val)
      this.$emit('change', this.val)
      this.$emit('toggle', this.val)
    },
    toggle () {
      this.setCurrentValue(!this.val)
      this.$emit('click', this.val)
    }
  }
}
</script>

<style lang="less" scoped>
@import '../../style/icon-func.less';

.CheckBox {
  display: flex;
  align-items: center;
  height: 52px;
  margin: 10px 0 10px 0;

  .label {
    margin-left: 10px;
  }

  .icon {
    box-sizing: border-box;
    .icon-func('../components/CheckBox/images/check.png');

    &.false {
      background: white;
      border-radius: 50%;
      border: 1px solid #ccc;
    }
  }
}
</style>
