<template>
  <div class="Card padding AddressInfo">
    <div class="nameAndPhone">
      <AddressIcon />
      <div class="name">{{ consignee }}</div>
      <div class="phone">{{ consigneeNumber }}</div>
    </div>
    <div class="address">
      {{ adress }}
    </div>
  </div>
</template>

<script>
import AddressIcon from '@/components/Icon/AddressIcon'

export default {
  name: 'AddressInfo',
  components: {
    AddressIcon
  },
  props: {
    adress: {
      type: String,
      default: ''
    },
    consignee: {
      type: String,
      default: ''
    },
    consigneeNumber: {
      type: String,
      default: ''
    }
  },
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.AddressInfo {
  font-size: 30px;
  color: rgb(64, 64, 64);

  .address {
    margin-top: 10px;
    margin-left: 30px;
  }

  .name {
    font-weight: bold;
    margin-left: 10px;
  }

  .phone {
    font-weight: bold;
    margin-left: 50px;
  }

  .nameAndPhone {
    display: flex;
    align-items: center;
  }
}
</style>
