<template>
  <div class="OrderDetail">
    <div class="Card padding">
      <div class="infoListItem">订单状态：{{ statusType[status] }}</div>
      <div class="infoListItem">下单时间：{{ placeTime }}</div>
      <div class="infoListItem">订单编号：{{ orderCode }}</div>
    </div>
    <AddressInfo
      :consignee="consignee"
      :adress="adress"
      :consigneeNumber="safeConsigneeNumber" />
    <div class="Card padding">
      <div class="infoListItem side">
        <div>商品总额</div>
        <div class="colorRed fwb">
          <Price :value="commodityPrice" />
        </div>
      </div>
      <div class="infoListItem side">
        <div>运费</div>
        <div class="colorRed fwb">
          <Price :value="freight" />
        </div>
      </div>
      <div class="infoListItem side">
        <div>实付</div>
        <div class="colorRed fwb">
          <Price :value="orderPrice" />
        </div>
      </div>
    </div>
    <div class="Card">
      <div class="header">
        {{ storeName }}
      </div>
      <div class="content">
        <div
          :key="goods.skuId"
          v-for="goods in childList"
          class="goods">
          <GoodsDetailItem
            :price="goods.commodityPrice"
            :name="goods.commodityName"
            :description="goods.description"
            :cover="goods.commodityPicUrl"
            :amount="goods.commodityCount"/>
          <div v-if="status === 4" class="afterService">
            <div
              v-if="goods.status !== 1"
              class="goodsServiceStatus">
              {{ serverStatus[goods.status] }}
            </div>

            <div class="btn">
              <Btn
                @click="evaluate(goods)"
                small
                type="plain">评价
              </Btn>
            </div>

            <div
              v-if="goods.status === 1"
              class="btn">
              <Btn
                @click="afterSaleTypeSelect(goods)"
                small
                type="plain">申请售后
              </Btn>
            </div>
          </div>

          <div class="divider">
            <Divider />
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="status !== 3 && status !== 4"
      class="fixedBottom">

        <div
          v-if="afterServiceStatus !== 0"
          class="btns" >
          <div class="serverStatus">
            {{ serverStatus[afterServiceStatus] }}
          </div>
        </div>

        <div class="btns" v-else>
          <div
            v-if="status === 0"
            @click="pay"
            class="btn">
            <Btn type="red">立即付款</Btn>
          </div>

          <div
            v-if="status === 0 || status === 1"
            @click="cancel"
            class="btn">
            <Btn type="plain">取消订单</Btn>
          </div>

          <div
            @click="express"
            v-if="status === 2"
            class="btn">
            <Btn type="plain">
              查看物流
            </Btn>
          </div>

          <div
            v-if="status === 2"
            @click="confirmReceipt"
            class="btn">
            <Btn>确认收货</Btn>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import react from '../../utils/react'
import Divider from '@/components/Divider'
import GoodsDetailItem from '@/components/GoodsDetailItem'
import Btn from '@/components/Button'
import AddressInfo from './AddressInfo'
import navigate from '../../utils/navigate'
import datetime from '../../utils/datetime'
import order from '../../utils/order'
import orderStatus from '../../utils/orderStatus'
import serverStatus from '../../utils/serverStatus'
import Price from '@/components/Price'

export default {
  name: 'OrderDetail',
  components: {
    Divider,
    GoodsDetailItem,
    Btn,
    AddressInfo,
    Price
  },
  computed: {
    safeConsigneeNumber () {
      let str = this.consigneeNumber
      return str.substring(0, 3) + '****' + str.substring(7, 11)
    }
  },
  data () {
    return {
      statusType: orderStatus,
      serverStatus,
      afterServiceStatus: 0,
      commodityPrice: 0,
      childList: [],
      commodityCount: 0,
      orderCode: '',
      orderPrice: 0,
      status: -1,
      storeName: '',
      placeTime: '',
      freight: 0,
      info: {},
      consigneeNumber: ''
    }
  },
  onLoad () {
    this.getDetail()
  },
  methods: {
    async getDetail () {
      react.showLoading()

      try {
        const res = await this.$api.order.detail({
          confirmPay: true,
          ...this.$query
        })

        res.placeTime = datetime(res.placeTime)

        Object.assign(this, res)
        Object.assign(this.info, res)
      } finally {
        react.hideLoading()
      }
    },
    async pay () {
      await order.payAgain(this.orderCode, false)
      this.getDetail()
    },
    async cancel () {
      await order.cancel(this.orderCode, false)
      navigate.back()
    },
    async confirmReceipt () {
      await order.confirmReceipt(this.orderCode, false)
      this.getDetail()
    },
    express () {
      navigate.to('/pages/express/main', this.info)
    },
    afterSaleTypeSelect (goods) {
      navigate.to('/pages/afterSaleTypeSelect/main', goods)
    },
    evaluate (goods) {
      navigate.to('/pages/evaluate/main', goods)
    }
  }
}
</script>

<style lang="less" scoped>
.OrderDetail {
  padding-top: 30px;
  padding-bottom: 150px;

  .content {
    padding: 20px;
  }

  .goods {
    position: relative;
    margin-top: 10px;

    &:last-child > .divider {
      display: none !important;
    }
  }

  .afterService {
    position: absolute;
    right: 0;
    bottom: 30px;
  }

  .fixedBottom {
    border-top: 1px solid #DBDBDB;
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
  }

  .btn {
    display: inline-block;
    margin-left: 30px;
  }

  .goodsServiceStatus {
    font-size: 26px;
    color: gray;
    display: inline-block;
  }
}
</style>

<style>
page {
  background: #F6F6F9;
}
</style>
