<template>
  <div class="Loadmore">
    {{ text }}
  </div>
</template>

<script>
export default {
  name: 'Loadmore',
  props: {
    text: {
      type: String,
      default: '暂无数据'
    }
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Loadmore {
  font-size: 26px;
  color: #808080;
  position: relative;
  text-align: center;
  margin: 20px 0;
  width: 100%;
}
</style>
