<template>
  <div @touchmove.stop="scroll" class="Dialog">
    <Mask ref="mask" />
    <div :animation="animationData" class="content">
      <div @click="close" class="x"></div>
      <div
        v-if="title"
        class="title">
        {{ title }}
      </div>
      <scroll-view @scroll.stop="scroll" scroll-y>
        <slot />
      </scroll-view>
      <div
        v-if="toolBtnText"
        @click="toolBtnClick"
        class="btn">
        <Btn :text="toolBtnText"></Btn>
      </div>
    </div>
  </div>
</template>

<script>
import Mask from '@/components/Mask'
import Btn from '@/components/Button'

export default {
  name: 'Dialog',
  components: {
    Mask,
    Btn
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    toolBtnText: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      animationData: {},
      isShow: false
    }
  },
  methods: {
    toolBtnClick () {
      this.$emit('toolBtnClick')
    },
    scroll (e) {
      e.stopPropagation()
      e.preventDefault()
    },
    close () {
      this.moveOut()
    },
    open () {
      this.moveIn()
    },
    moveOut () {
      this.animationData = this.move(2000)
      this.$refs.mask.hide()
    },
    moveIn () {
      this.animationData = this.move(0)
      this.$refs.mask.show()
    },
    move (y) {
      return wx
        .createAnimation({
          duration: 800,
          timingFunction: 'ease'
        })
        .translate(0, y)
        .step()
        .export()
    }
  }
}
</script>

<style lang="less" scoped>
.Dialog {
  z-index: 100;
  position: fixed;
  background-color: rgb(255, 255, 255);

  .x {
    font-size: 60px;
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 100;
    background: url('./images/x.png') no-repeat center center;
    background-size: image-size('./images/x.png');
    width: 100px;
    height: 100px;
  }

  .title {
    font-size: 34px;
    color: rgb(64, 64, 64);
    font-weight: bold;
    top: 20px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    z-index: 1;
    text-align: center;
  }

  .content {
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 200px;
    background: white;
    transform: translate(0, 2000px)
  }

  scroll-view {
    width: 100%;
    height: 950px;
  }

  .btn {
    position: fixed;
    right: 20px;
    top: -80px;
    z-index: 100;
  }
}
</style>
