<template>
  <div class="DiyDetail">
    <div class="panel">
      <div class="avatar">
        <img
          class="image"
          src="http://img02.tooopen.com/images/20150928/tooopen_sy_143912755726.jpg" />
      </div>
      <div class="name">方案的名称</div>
      <div class="price">￥1239.00</div>
    </div>

    <div class="panel">
      <div @click="add" class="add"></div>
    </div>

    <div class="fixedBottom">
      <MainButton @click="save">保存方案</MainButton>
    </div>
  </div>
</template>

<script>
import MainButton from '@/components/MainButton'
import navigate from '../../utils/navigate'
import { createShareConfig } from '../../utils/share'

export default {
  name: 'DiyDetail',
  components: {
    MainButton
  },
  data () {
    return {}
  },
  methods: {
    save () {
      console.log('save')
    },
    add () {
      navigate.to('/pages/diyDetailAdd/main')
    }
  },
  onShareAppMessage () {
    return createShareConfig('DIY', {
      to: 'diyDetail'
    })
  }
}
</script>

<style lang="less" scoped>
.DiyDetail {
  .avatar .image {
    width: 100%;
  }

  .panel {
    margin-bottom: 20px;
    padding: 30px;
    background: #fff;
  }

  .name {
    margin-top: 10px;
    font-size: 34px;
    color: rgb(64, 64, 64);
    font-weight: bold;
  }

  .price {
    font-size: 40px;
    color: rgb(140, 0, 27);
    font-weight: bold;
  }

  .add {
    margin-right: 25px;
    margin-top: 25px;
    font-size: 50px;
    background: url('./images/plus.png') center center no-repeat rgb(247, 247, 250);
    background-size: image-size('./images/plus.png');
    width: 140px;
    height: 140px;
  }
}
</style>

<style>
page {
  background: #F7F7FA;
}
</style>

