  <template>
  <div class="UploadImage">
    <div class="imageList">
      <div
        :key="image"
        v-for="(image, $index) in images"
        class="item">
        <img
          class="image"
          mode="aspectFill"
          :src="image" />
        <div
          @click="remove($index)"
          class="remove">
        </div>
      </div>
      <div
        @click="add"
        class="add"
        v-if="images.length < limit">
      </div>
    </div>
  </div>
</template>

<script>
import react from '../../utils/react'
import image from '../../utils/image'

export default {
  name: 'UploadImage',
  props: {
    limit: {
      type: Number,
      default: 99
    }
  },
  data () {
    return {
      policy: {},
      images: []
    }
  },
  watch: {
    images (val) {
      this.$emit('update', val)
      this.$emit('change', val)
    }
  },
  async onLoad () {
    this.policy = await this.$api.policy.get()
  },
  methods: {
    add () {
      this.chooseImages()
    },
    async chooseImages () {
      const res = await image.choose()

      res.tempFilePaths.forEach(path => {
        this.upload(path, url => {
          this.images.push(url)
        })
      })
    },
    upload (path, callback) {
      let filename = path.split('http://tmp/')[1]

      if (!filename) {
        filename = path.split('wxfile://')[1]
      }

      wx.uploadFile({
        url: this.policy.host,
        name: 'file',
        filePath: path,
        formData: {
          ...this.policy,
          Filename: filename,
          key: filename,
          OSSAccessKeyId: this.policy.accessid
        },
        success: (res) => {
          const url = this.policy.host + '/' + filename

          callback(url)
        },
        error (e) {
          console.error(e)
          react.showToast('上传失败')
        }
      })
    },
    remove ($index) {
      this.images.splice($index, 1)
    },
    empty () {
      this.images.splice(0, this.images.length)
    }
  }
}
</script>

<style lang="less" scoped>
@import '../../style/icon-func.less';

.UploadImage {
  .add {
    margin-right: 25px;
    margin-top: 25px;
    font-size: 50px;
    background: url('./images/plus.png') center center no-repeat rgb(247, 247, 250);
    background-size: image-size('./images/plus.png');
    width: 140px;
    height: 140px;
  }

  .imageList {
    display: flex;
    flex-wrap: wrap;

    .item {
      position: relative;
      padding-right: 25px;
      padding-top: 25px;
    }

    .image {
      background-color: rgb(255, 255, 255);
      width: 140px;
      height: 140px;
    }

    .remove {
      .icon-func('../components/UploadImage/images/remove.png');
      position: absolute;
      right: 8px;
      top: 8px;
    }
  }
}
</style>
