<template>
  <div class="Loading">
    <img
      class="logo"
      src="../login/images/logo.png" alt="">
  </div>
</template>

<script>
import navigate from '../../utils/navigate'
import login from '../../login'

export default {
  name: 'Login',
  async onLoad () {
    await login(this.$query)

    const { to } = this.$query

    if (to) {
      navigate.redirect(`/pages/${to}/main`, this.$query)
    } else {
      navigate.switch('/pages/index/main')
    }
  }
}
</script>

<style lang="less" scoped>
.Loading {
  .logo {
    height: 140px;
    width: 226px;
    margin: 400px auto;
  }
}
</style>
