<template>
  <div class="OrderPaySuccess">
    <div class="Card">
      <div class="content">
        <div class="icon"></div>
        <div class="info">
          <div class="item">
            <div class="label">支付方式：</div>
            <div class="value">微信支付</div>
          </div>
          <div class="item">
            <div class="label">支付金额：</div>
            <div class="value">￥{{ orderPrice }}</div>
          </div>
        </div>
        <div class="btns">
          <Btn
            @click="order"
            :plain="true">查看订单
          </Btn>
          <Btn
            @click="others">四处逛逛
          </Btn>
        </div>
      </div>
    </div>
    <div class="notice">注意：味家平台及销售商不会以订单异常、系统升级为由要求您点击任何网址链接进行退款操作。</div>
  </div>
</template>

<script>
import Btn from '@/components/Button'
import navigate from '../../utils/navigate'

export default {
  name: 'OrderPaySuccess',
  components: {
    Btn
  },
  data () {
    return {
      orderPrice: 0,
      orderCode: ''
    }
  },
  onLoad () {
    this.orderCode = this.$query.orderCode

    this.getDetail()
  },
  methods: {
    async getDetail () {
      const res = await this.$api.order.detail({
        confirmPay: true,
        orderCode: this.orderCode
      })

      this.orderPrice = res.orderPrice
    },
    order () {
      navigate.to('/pages/orderDetail/main?orderCode=' + this.orderCode)
    },
    others () {
      navigate.reLaunch('/pages/index/main')
    }
  }
}
</script>

<style lang="less" scoped>
.OrderPaySuccess {
  padding-top: 30px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
  }

  .icon {
    background: url('./images/icon-success.png') no-repeat;
    background-size: 100%;
    width: image-width('./images/icon-success.png');
    height: image-height('./images/icon-success.png');
  }

  .info {
    margin: 60px 0;

    .item {
      display: flex;
      align-items: center;
    }

    .label {
      font-size: 30px;
      color: rgb(64, 64, 64);
    }

    .value {
      font-size: 37px;
      color: #8d021d;
    }
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .notice {
    padding: 0 30px;
    font-size: 24px;
    color: rgb(176, 176, 176);
  }
}
</style>

<style>
page {
  background: #F7F7FA;
}
</style>

