<template>
  <div v-if="token" class="Qrcode">
    <div class="warn">
      仅限当面向商家付款使用，勿泄露给他人
      {{ API_URL }}
    </div>
    <div class="content">
      <div class="code">
        <img
          class="image"
          :src="API_URL+'/wx/customer/barcode?wxToken=' + token"/>
      </div>
      <div class="qrcode">
        <img
          class="image"
          :src="API_URL+'/wx/customer/qrcode?wxToken=' + token"/>
      </div>
    </div>
    <!-- <div class="reload">
      <div class="reloadIcon"></div>
      <div>点击手动刷新</div>
    </div> -->
  </div>
</template>

<script>
import * as request from '../../utils/request'
import { getToken } from '../../utils/token'

export default {
  name: 'Qrcode',
  data () {
    return {
      API_URL: '',
      token: ''
    }
  },
  onLoad () {
    this.API_URL = request.API_URL
    this.token = getToken()
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.Qrcode {
  .warn {
    height: 90px;
    line-height: 90px;
    font-size: 28px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .content {
    border-radius: 10px;
    background: #F2F2F7;
    width: 690px;
    height: 960px;
    margin: 0 auto;
    overflow: hidden;

    .code {
      background: white;
      height: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .image {
        width: 550px;
        height: 150px;
      }

      .number {
        margin-top: 10px;
        font-size: 36px;
        color: rgb(64, 64, 64);
      }
    }

    .qrcode {
      height: 960px - 320px;
      display: flex;
      align-items: center;
      justify-content: center;

      .image {
        width: 400px;
        height: 400px;
      }
    }
  }

  .reload {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.8);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reloadIcon {
    margin-right: 10px;
    background: url('./images/reload.png') no-repeat;
    background-size: 100%;
    width: image-width('./images/reload.png');
    height: image-height('./images/reload.png');
  }
}
</style>

<style>
page {
	background-image: linear-gradient(0deg,
		#d09d74 0%,
		#be875b 100%);
}
</style>

