<template>
  <div class="ShowRoom">
    <ListItem
      :href="'/pages/showRoomDetail/main?templateCode=' + template.templateCode + '&templateCode=' + template.templateCode + '&title=' + template.title"
      :key="template.id"
      v-for="template in templates"
      :coverPic="template.coverPic"
      :title="template.title" />
    <Loadmore v-if="templates.length === 0"></Loadmore>
  </div>
</template>

<script>
import ListItem from '@/components/ListItem'
import Loadmore from '@/components/Loadmore'

export default {
  name: 'ShowRoom',
  components: {
    ListItem,
    Loadmore
  },
  data () {
    return {
      templates: [],
      current: 1,
      pages: 1
    }
  },
  onPullDownRefresh () {
    this.current = 1
    this.loadData().finally(() => {
      wx.stopPullDownRefresh()
    })
  },
  onReachBottom () {
    this.loadData()
  },
  onLoad () {
    this.loadData()
  },
  methods: {
    loadData () {
      if (this.current > this.pages) {
        return
      }

      return this.$api.template
        .getAll({
          current: this.current
        })
        .then(res => {
          this.pages = res.pages

          if (this.current === 1) {
            this.templates = res.records
          } else {
            this.templates = [
              ...this.templates,
              ...res.records
            ]
          }

          this.current++
        })
    }
  }
}
</script>

<style lang="less" scoped>
.ShowRoom {}
</style>

<style>
page {
  background: #F7F7FA;
}
</style>
