<script>
export default {
  name: 'App'
}
</script>

<style lang="less">
.navigator-hover {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
}

.input {
  font-size: 30px;
  width: 100%;
  outline: 0;
  padding-bottom: 20px;
  -webkit-appearance: none;
  background-color: transparent;
  border-bottom: 2px solid #DADADA;
}

.BigPanel {
  background: #fff;
  border-bottom: 20px solid #F2F2F7;
  overflow: hidden;
}

.fontBold {
  font-weight: bold;
}

.colorRed {
  color: #8d021d;
}

.colorGold {
  color: #cf9c73;
}

.fwb {
  font-weight: bold;
}

.f30 {
  font-size: 30px;
}

.ml30 {
  margin-left: 30px;
}

.ml20 {
  margin-left: 20px;
}

.mt30 {
  margin-top: 30px;
}

.infoListItem {
  @height: 55px;
  height: @height;
  line-height: @height;
  font-size: 30px;
  color: rgb(64, 64, 64);
}

.textarea {
  font-size: 30px;
  line-height: 2;
  border-bottom: 2px solid #D5D5D5;
  width: 100%;
  height: 300px;
}

.side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formTitle {
  font-size: 34px;
  color: rgb(64, 64, 64);
  margin-top: 20px;
  @height: 90px;
  height: @height;
  line-height: @height;
}

.fixedBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
}

img {
  display: block;
}
</style>
