<template>
  <div class="StoreClass">
    <GoodsClass :storeCode="storeCode" />
  </div>
</template>

<script>
import GoodsClass from '@/components/GoodsClass'

export default {
  name: 'StoreClass',
  components: {
    GoodsClass
  },
  data () {
    return {
      storeCode: ''
    }
  },
  onLoad () {
    this.storeCode = this.$root.$mp.query.storeCode
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.StoreClass {
  height: 100vh;
}
</style>
