<template lang="pug">
.ReceiptEdit
  div
    .label 发票抬头
    .btns
      .btn(
        @click="changeType(0)"
        :class="{ plain: form.invoiceType === 1 }"
      ) 个人
      .btn(
        @click="changeType(1)"
        :class="{ plain: form.invoiceType === 0 }"
      ) 单位

  input.input(
    v-model="form.invoiceTitle"
    type="text",
    placeholder="输入抬头名称"
  )

  div(v-if="form.invoiceType === 1")
    .label 纳税人识别号
    div
      input.input(
        v-model="form.taxpayerIdentification"
        type="text",
        placeholder="统一社会信用代码"
      )

  .fixedBottom
    MainButton(@click="ok") 确认
</template>

<script>
import navigate from '../../utils/navigate'
import MainButton from '@/components/MainButton'
import api from '../../api'
import react from '../../utils/react'

export default {
  name: 'ReceiptEdit',
  components: {
    MainButton
  },
  data () {
    return {
      form: {
        invoiceTitle: '',
        invoiceType: 0,
        taxpayerIdentification: ''
      }
    }
  },
  methods: {
    changeType (invoiceType) {
      this.form.invoiceType = invoiceType
    },
    ok () {
      if (!this.form.invoiceTitle) {
        react.showToast('请填写抬头')
        return
      }

      if (
        !this.form.taxpayerIdentification &&
        this.form.invoiceType === 1
      ) {
        react.showToast('请填写统一社会信用代码')
        return
      }

      api.invoice
        .create(this.form)
        .then(receipt => {
          this.$store.commit('orderConfirm/update', {
            receipt
          })

          navigate.back()
        })
    }
  }
}
</script>

<style lang="less" scoped>
.ReceiptEdit {
  padding: 30px;
}

.label {
  margin: 40px 0 10px 0;
  font-size: 34px;
  color: rgb(64, 64, 64);
}

.btns div {
  margin: 20px 40px 20px 0;
}

.btn {
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  color: white;
  display: inline-block;
  background-image:
    linear-gradient(90deg, #d09d74 0%, #be875b 100%),
	  linear-gradient( #f2f2f7, #f2f2f7);
  border-radius: 60px;
  padding: 0 40px;

  &.plain {
    color: black;
    background: #F2F2F7;
  }
}
</style>
