<template>
  <div class="AfterSaleDetail">
    <div :class="{
      mainStatus: true,
      error: status === 3
    }">
      {{ serverStatus[status] }}
    </div>

    <div
      v-show="status === 2"
      class="BigPanel">
      <div class="Cells">
        <div class="Cell">请先退货</div>
        <div class="Cell">
          <input
            v-model.trim="courierNumber"
            type="text"
            placeholder="请输入快递单号">
        </div>
        <div class="Cell">
          <picker
            @change="companySelect"
            :range="companyRange">
            {{ companySelected.com || '请选择快递公司' }}
          </picker>
        </div>
      </div>
    </div>

    <div class="Card">
      <div class="header">
        退款信息
      </div>
      <div class="content">
        <GoodsDetailItem
          :price="commodityPrice"
          :name="commodityName"
          :description="description"
          :cover="commodityPicUrl"
          :amount="commodityCount"/>
        <Divider />
        <div class="infoItem">
          提出时间： {{ createTime }}
        </div>
        <div
          v-if="dealTime"
          class="infoItem">
          商家处理： {{ dealTime }}
        </div>
        <div
          v-if="refundTime"
          class="infoItem">
          退款时间： {{ refundTime }}
        </div>
      </div>
    </div>

    <div
      v-if="status === 2"
      class="mainButton">
      <MainButton @click="submit">提交</MainButton>
    </div>
  </div>
</template>

<script>
import GoodsDetailItem from '@/components/GoodsDetailItem'
import Divider from '@/components/Divider'
import Cells from '@/components/Cells'
import Cell from '@/components/Cell'
import api from '../../api'
import MainButton from '@/components/MainButton'
import react from '../../utils/react'
import serverStatus from '../../utils/serverStatus'
import datetime from '../../utils/datetime'
import navigate from '../../utils/navigate'

export default {
  name: 'AfterSaleDetail',
  components: {
    GoodsDetailItem,
    Divider,
    Cell,
    Cells,
    MainButton
  },
  data () {
    return {
      serverStatus,
      status: '',
      serviceCode: '',
      companyRange: [],
      company: [],
      companySelected: {},
      courierNumber: '',
      createTime: '',

      commodityCount: 0,
      commodityName: '',
      commodityPicUrl: '',
      commodityPrice: '',
      description: ''
    }
  },
  onLoad () {
    this.serviceCode = this.$query.serviceCode

    this.getInfo()
    this.getCompany()
  },
  methods: {
    async submit () {
      if (!this.companySelected.com) {
        react.showToast('请选择快递')
        return
      }

      if (!this.courierNumber) {
        react.showToast('请填写快递单')
        return
      }

      react.showLoading()

      await api.afterService.courier({
        serviceCode: this.serviceCode,
        expressCompanyName: this.companySelected.com,
        expressCompanyCode: this.companySelected.comid,
        courierNumber: this.courierNumber
      })

      react.hideLoading()
      navigate.back()
    },
    async getInfo () {
      react.showLoading()

      const res = await api.afterService.get(this.serviceCode)

      console.log(res)
      Object.assign(this, res)
      this.createTime = datetime(res.createTime)
      this.dealTime = datetime(res.dealTime)
      this.refundTime = datetime(res.refundTime)

      react.hideLoading()
    },
    companySelect (e) {
      const value = parseInt(e.target.value)
      this.companySelected = this.company[value]
    },
    async getCompany () {
      const res = await api.logistics.company()
      const { data } = JSON.parse(res)

      this.company = data
      this.companyRange = data.map(item => item.com)
    }
  }
}
</script>

<style lang="less" scoped>
.AfterSaleDetail {
  .content {
    padding: 20px;
  }

  .mainStatus {
    background-image: -webkit-linear-gradient( 0deg, rgb(208,157,116) 0%, rgb(190,135,91) 100%);
    width: 750px;
    height: 144px;
    line-height: 144px;
    color: white;
    padding-left: 30px;
    margin-bottom: 30px;

    &.error {
      background-image: -webkit-linear-gradient( 0deg, rgb(160,38,62) 0%, rgb(140,0,27) 100%);
    }
  }

  .infoItem {
    font-size: 28px;
    color: rgb(176, 176, 176);
  }
}
</style>

<style>
page {
  background: #F6F6F9;
}

.mainButton {
  padding: 30px;
}
</style>
