<template>
  <div class="AfterSaleForm">
    <div class="Card padding">
      <GoodsDetailItem
        :price="commodityPrice"
        :name="commodityName"
        :description="description"
        :cover="commodityPicUrl"
        :amount="commodityCount"/>
    </div>
    <div class="Card">
      <div class="Cells">
        <div class="Cell arrow">

          <div>{{ serviceType === 1 ? '仅退款' : '退货退款' }}</div>

          <picker
            :range="reasons"
            :value="reasonIndex"
            @change="pickerChange">
            <view class="picker">
              {{ reasons[reasonIndex] }}
            </view>
          </picker>
        </div>
        <div class="Cell">
          <div>退款金额</div>
          <div class="colorRed price">￥{{ commodityPrice * commodityCount }}</div>
        </div>
        <div class="Cell">
          <div>退款说明</div>
          <input
            class="descInput"
            placeholder="选填"
            type="text"
            v-model.trim="explain">
        </div>
      </div>
    </div>
    <div class="Card updateImageCard">
      <div class="title">
        上传凭证（最多3张）
      </div>
      <UploadImage
        @update="uploadImageUpdate"
        :limit="picLimit" />
    </div>

    <div class="fixedBottom">
      <MainButton @click="checkInfo">
        提交
      </MainButton>
    </div>
  </div>
</template>

<script>
import UploadImage from '@/components/UploadImage'
import GoodsDetailItem from '@/components/GoodsDetailItem'
import MainButton from '@/components/MainButton'
import Cells from '@/components/Cells'
import Cell from '@/components/Cell'
import react from '../../utils/react'
import navigate from '../../utils/navigate'

export default {
  name: 'AfterSaleForm',
  components: {
    MainButton,
    GoodsDetailItem,
    Cell,
    Cells,
    UploadImage
  },
  data () {
    return {
      reasons: [
        '请选择',
        '不喜欢/不想要',
        '商品尺寸与描述不符',
        '商品材质与描述不符',
        '商品损坏/运输过程受损'
      ],
      afterServiceStatus: '',
      childCode: '',
      commodityCode: '',
      commodityCount: '',
      commodityName: '',
      commodityPicUrl: '',
      commodityPrice: '',
      couponId: '',
      createTime: '',
      description: '',
      discountAmount: '',
      openId: '',
      orderCode: '',
      orderPrice: '',
      serviceCount: '',
      skuId: '',
      status: '',
      storeCode: '',
      storeName: '',
      serviceType: 1,
      reasonIndex: 0,
      explain: '',
      imgUrls: [],
      picLimit: 3
    }
  },
  computed: {
    computedUrl () {
      return this.imgUrls.join(',')
    }
  },
  onLoad () {
    Object.assign(this, this.$query)

    this.serviceType = parseInt(this.$query.serviceType)
  },
  methods: {
    submit () {
      react.showLoading('提交中')
      this.$api.afterService
        .post({
          orderCode: this.childCode,
          serviceType: this.serviceType,
          explain: this.explain,
          picUrls: this.computedUrl,
          reason: this.reasonIndex
        })
        .then(res => {
          navigate.to('/pages/afterSaleDetail/main', res)
        })
        .finally(() => {
          react.hideLoading()
        })
    },
    pickerChange (e) {
      this.reasonIndex = parseInt(e.mp.detail.value)
    },
    uploadImageUpdate (urls) {
      this.imgUrls = urls
    },
    checkInfo () {
      if (this.reasonIndex === 0) {
        react.showToast('请选择退款理由')
        return
      }

      this.submit()
    }
  }
}
</script>

<style lang="less" scoped>
.AfterSaleForm {
  padding-top: 30px;

  .updateImageCard {
    padding: 30px;

    .title {
      font-size: 30px;
      color: rgb(64, 64, 64);
    }
  }

  .price {
    margin-left: 30px;
    margin-right: auto;
  }

  .descInput {
    flex: 1;
    margin-left: 30px;
  }
}
</style>

<style>
page {
  background: #F6F6F9;
}
</style>
